{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="pip07" method="#" class="form">
			
				<a href="pip05" class="example-back-link">Back</a>
				
				<!--div class="section-progress">
				Step 1 of 17
				</div-->
				
				<h1 class="form-title heading-large">
				<!--Hospital, hospice, residential or nursing care-->
				Good and bad days
				</h1>
			
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
 
  <script>
  $(document).ready(function() {
  
  	$("#show-health-worker-2").click(function() {
  	  $("#health-worker-2").show();
  	  $("#show-health-worker-2").hide();
  	   return false;
  	});
  	$("#show-health-worker-3").click(function() {
  	  $("#health-worker-3").show();
  	  $("#show-health-worker-3").hide();
  	   return false;
  	});
  	
  });
  </script>
  
{{/bodyEnd}}

{{/govuk_template}}
