{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
            
			<form action="scenario02" method="get" class="form">
			
				<a href="pip08" class="example-back-link">Back</a>

				<h1 class="form-title heading-large">
				Your day
				</h1>
				
				<p>Tell us as much as you can about how your disability or health condition affects your day-to-day life. </p>
				<p>In your answers, include information about:</p>
				<ul class="list-bullet">
					<li>any aids you have</li>
					<li>any adjustments or modifications that have been made</li>
					<li>if you need someone to help</li>
					<li>how it makes you feel or any side-effects you get</li>
				</ul>

                <div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
