{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
            
			<form action="pip09" method="get" class="form">
			
				<a href="scenario07" class="example-back-link">Back</a>

				<h1 class="form-title heading-large">
				Dinner time
				</h1>

                <fieldset>
					<legend class="form-label-bold add-padding" for="dinner">Does your condition affect how you prepare your dinner?</legend>			
					<div class="form-group">
						<label class="block-label" data-target="dinner-details" for="dinner-yes">
							<input id="dinner-yes" type="radio" name="dinner" value="Yes">
							Yes
						</label>
                        <label class="block-label" data-target="dinner-details" for="dinner-sometimes">
							<input id="dinner-sometimes" type="radio" name="dinner" value="Sometimes">
							Sometimes
						</label> 
						<label class="block-label"for="dinner-no">
							<input id="dinner-no" type="radio" name="dinner" value="No">
							No
						</label>   
					</div>
				</fieldset>
                
                <div class="js-hidden panel-indent form-group" id="dinner-details">

				    <label class="form-label-bold" for="dinner-help">Do you have someone who reminds you or helps you to prepare your dinner?</label>
				    <p class="form-hint">To prompt you to eat, to help or supervise while you prepare your dinner, or to cook your dinner for you.</p>
				    <label class="block-label" data-target="dinner-help-more" for="dinner-help-yes">
				        <input id="dinner-help-yes" type="radio" name="dinner-help" value="true">
                            Yes
				    </label>
				    <label class="block-label" data-target="dinner-help-more" for="dinner-help-sometimes">
                        <input id="dinner-help-sometimes" type="radio" name="dinner-help" value="">
				            Sometimes
				    </label> 
				    <label class="block-label" data-target="dinner-help-none" for="dinner-help-no">
                        <input id="dinner-help-no" type="radio" name="dinner-help" value="">
				            No
				    </label>  

				    <div class="js-hidden panel-indent" id="dinner-help-more">
	            		<label class="form-label-bold" for="dinner-more">Why do you need help?</label>
	            		<textarea type="text" class="form-control-3-4" id="dinner-more"></textarea>
            		</div>

                	<div class="js-hidden panel-indent" id="dinner-help-none">
                		<label class="form-label-bold" for="dinner-help-none-too">Tell us why you have difficulty preparing your dinner.</label>
                		<p class="form-hint">Include:</p>
	                	<ul class="form-hint list-bullet">
	                		<li>if you find any part especially difficult or painful</li>
	                		<li>if there’s anything you can’t do</li>
	                	</ul>
                		<textarea type="text" class="form-control-3-4" id="dinner-help-none-too"></textarea>
                	</div>
                	
                </div>
                
                
                
                <div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>
		
		</div>
		<div class="column-third">
			{{>includes/nav/side-nav}}
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
