			<ul class="side-nav">
				<li><a href="pip01">Personal details</a></li>
				<li><a href="pip02">Contact details</a></li>
				<li><a href="pip03">Nationality declaration</a></li>
				<li><a href="pip04">Working and payments abroad</a></li>
				<li><a href="pip05">Your health conditions</a></li>
				<li><a href="pip06">Good and bad days</a></li>
				<li><a href="pip07">Healthcare professionals</a></li>
				<!-- <li><a href="pip08">Submit evidence</a></li> -->
				<li><a href="special-aids">Special aids and adaptations</a></li>
				<li><a href="understanding">Your understanding</a></li>
				<li><a href="scenario01">Getting up</a></li>
				<li><a href="scenario02">Getting around</a></li>
				<li><a href="scenario03">Washing yourself</a></li>
				<li><a href="scenario04">Getting dressed</a></li>
				<li><a href="scenario05">Going out</a></li>
				<li><a href="scenario06">Out and about</a></li>
				<li><a href="scenario07">Money and bills</a></li>
				<li><a href="scenario08">Meal time</a></li>
				<li><a href="scenario09">Getting on with people</a></li>
				<li><a href="pip09">Banking details</a></li>
				<li><a href="review">Review and edit</a></li>
			</ul>