{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}

<main id="content" role="main">

	{{>includes/phase_banner}}

    <div class="grid-row">
        <div class="column-full-width">
            <div class="login-information">You are logged in as {{name}}.</div>
        </div>
        </div>
    
    
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="question-confirm" method="post" class="form">
			
			
                
				<h1 class="form-title heading-large">
				Reveiw - You have supplied the following information.
				</h1>
				
                <table>
                    <tr>
                        <th>Do you find it difficult to mix with other people?</th>
                        <td>
                            {{#form.communicating}}Yes{{/form.communicating}}
                        
                            {{^form.communicating}}No{{/form.communicating}}
                        </td>
                    </tr>
                   {{#form.communicating}}
                
                    
                    
                    <tr>
                        <th>Do you find it difficult mixing with other people because of severe anxiety or stress?</th>
                        <td>
                            {{#form.aidsappliances}}Yes{{/form.aidsappliances}}
                        
                            {{^form.aidsappliances}}No{{/form.aidsappliances}}
                        </td>
                    </tr>
                    {{#form.aidsappliances}}
                    <tr>
                        <th colspan="2">Tell us about the type of help that you need mixing with people and in what situations.</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{form.aidsappliancesmore}}
                        </td>
                    </tr>
                    {{/form.aidsappliances}}
                    
                    
                    <tr>
                        <th>Do you need another person to help you to mix with other people?</th>
                        <td>
                            {{#form.anotherperson}}Yes{{/form.anotherperson}}
                        
                            {{^form.anotherperson}}No{{/form.anotherperson}}
                        </td>
                    </tr>
                    {{#form.anotherperson}}
                    <tr>
                        <th colspan="2">Tell us more about the anxiety or stress you have when mixing with other people and how often.</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{form.anotherpersonmore}}
                        </td>
                    </tr>
                    {{/form.anotherperson}}
                    
       
                    
                     <tr>
                        <th colspan="2">Tell us about the difficulties you have when interacting with other people.</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{form.communicateother}}
                        </td>
                    </tr>
                {{/form.communicating}}
                </table>
                
               
                
                <p>
                    <a href="question">Make a change</a>
                </p>
                
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
