{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="food{{#edit}}?edit=true{{/edit}}" method="post" class="form">

				
				<h1 class="form-title heading-large">
				Your day-to-day activities - preparing food
				</h1>
				
				
					<fieldset class="inline">
					
						<div class="form-group">
							<p class="form-label-bold" for="aids-appliances">Do you use any aids or appliances when making a meal?</p>
							<p class="form-hint">This could include things like easy grip utensils or single lever taps. Also include if you can only use a microwave instead of a hob or cooker.</p>
							<label class="block-label" data-target="aids-appliances-details" for="aids-appliances-yes">
								<input id="aids-appliances-yes" type="radio" name="aids-appliances" value="Yes" {{#form.aids-appliances}}checked{{/form.aids-appliances}}>
								Yes
							</label>
							<label class="block-label" for="aids-appliances-no">
								<input id="aids-appliances-no" type="radio" name="aids-appliances" value="No" {{#form.session}}{{^form.aids-appliances}}checked{{/form.aids-appliances}}{{/form.session}}>
								No
							</label>  
						</div>
						
						<div class="panel{{^form.aids-appliances}} js-hidden{{/form.aids-appliances}}" id="aids-appliances-details">
							<p class="form-label" for="aids-appliances-details">Describe what they are and how often you use them.</p>
							<textarea type="text" name="aids-appliances-details" class="form-control-3-4">{{form.aids-appliances-details}}</textarea> 
						</div>
						
						<div class="form-group">
							<p class="form-label-bold" for="another-person">Do you need help from another person to make yourself a meal?</p>
							<p class="form-hint">As well as physical help this includes if you need them to supervise you or remind you how to prepare or cook something.</p>
							<label class="block-label" data-target="another-person-details" for="another-person-yes">
								<input id="another-person-yes" type="radio" name="another-person" value="Yes" {{#form.another-person}}checked{{/form.another-person}}>
								Yes
							</label>
							<label class="block-label" for="another-person-no">
								<input id="another-person-no" type="radio" name="another-person" value="No" {{#form.session}}{{^form.another-person}}checked{{/form.another-person}}{{/form.session}}>
								No
							</label>  
						</div>
						
						<div class="panel{{^form.another-person}} js-hidden{{/form.another-person}}" id="another-person-details">
							<p class="form-label" for="another-person-details">Describe the help you need and how often you need it.</p>
							<textarea type="text" class="form-control-3-4" name="help-and-how-often">{{form.help-and-how-often}}</textarea> 
						</div>
						
						<div class="form-group">  
							<label class="form-label-bold" for="cook-other">Describe the difficulties you have when making yourself a meal, including any side effects, eg pain or tiredness.</label>
							<p class="form-hint">Describe how often you have 'good' and 'bad' days and what happens during them.</p>
							<!--ul class="form-hint list-bullet">
								<li>If you can't do this safely, as often as you need to, or in a reasonable time.</li>
								<li>If you can only cook using a microwave.</li>
								<li>If your ability to do it varies, tell us in what way and how often - for example, telling us about good and bad days or how it varies throughout the day.</li>
								<li>If you can do it but it takes you a long time.</li>
								<li>If you have side effects from carrying out the activity - either during or after the activity - like pain, breathlessness or tiredness.</li>
							</ul-->
							<textarea type="text" class="cook-other form-control-3-4" name="cook-other">{{form.cook-other}}</textarea>
						</div>  
					
					</fieldset>
			
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
