{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
        <div class="grid-row">
		  <div class="column-two-thirds">
                
                
                
                <h1 class="form-title heading-large">
				    Application Review
				</h1>
                
                
                
                <table class="review-table">
                    <tr>
                        <td><a href="#personal" class="section-link" id="person">Personal Details</a></td>
                        <td>
                            
                            {{#sectionName}}  <span class="status-label complete">COMPLETE</span> {{/sectionName}}
                        
                            {{^sectionName}}  <span class="status-label incomplete">INCOMPLETE</span> {{/sectionName}}
                        </td>
                        <td class="text-right"><a href="personal?edit=true">Edit</a></td>
                    </tr>
                    <tr class="js-hidden section-panel" id="personArea">
                        <td colspan="3">
                        
                        <table>
                            <tr class="no-border">
                                <th>Full name</th>
                                <td>{{name}}</td>
                            </tr>
                        </table>
                        
                        
                        </td>
                    </tr>
                        <td><a href="#contact" class="section-link"  id="contact">Contact Details</a></td>
                        <td>{{#sectionContact}} <span class="status-label complete">COMPLETE</span>  {{/sectionContact}}
                        
                            {{^sectionContact}} <span class="status-label incomplete">INCOMPLETE</span>  {{/sectionContact}}</td>
                        <td class="text-right"><a href="contact?edit=true">Edit</a></td>    
                    </tr>
                    <tr class="js-hidden section-panel" id="contactArea">
                        <td colspan="3">
                        
                        <table>
                            <tr class="no-border">
                                <th>Phone Number</th>
                                <td>{{phone}}</td>
                            </tr>
                        </table>
                        
                        
                        </td>
                    </tr>
              
              <!-- food -->
                    </tr>
                        <td><a href="#food" class="section-link"  id="food">Preparing food details</a></td>
                        <td>{{#sectionFoodComplete}} <span class="status-label complete">COMPLETE</span> {{/sectionFoodComplete}}
                        
                            {{^sectionFoodComplete}} <span class="status-label incomplete">INCOMPLETE</span> {{/sectionFoodComplete}}</td>
                        <td class="text-right"><a href="food?edit=true">Edit</a></td>    
                    </tr>
                    <tr class="js-hidden section-panel" id="foodArea">
                        <td colspan="3">
                        
                        <table>
                            
                            <tr>
                                <th>Do you use any aids or appliances when making a meal?</th>
                                <td>
                            {{#sectionFood.aids-appliances}} Yes {{/sectionFood.aids-appliances}}
                        
                            {{^sectionFood.aids-appliances}} No {{/sectionFood.aids-appliances}}
                                
                                </td>
                            </tr>
                            
                            {{#sectionFood.aids-appliances}}
                            <tr>
                                <th>Describe what they are and how often you use them.</th>
                                <td>{{sectionFood.aids-appliances-details}}</td>
                            </tr> 
                            {{/sectionFood.aids-appliances}}
                            
                            <tr>
                                <th>Do you need help from another person to make yourself a meal?</th>
                                <td>
                                    {{#sectionFood.another-person}} Yes {{/sectionFood.another-person}}
                        
                                    {{^sectionFood.another-person}} No {{/sectionFood.another-person}}
                                
                                </td>
                            </tr>  
                            {{#sectionFood.another-person}}
                            <tr>
                                <th>Describe the help you need and how often you need it.</th>
                                <td>{{sectionFood.help-and-how-often}}</td>
                            </tr>  
                            {{/sectionFood.another-person}}
                            
                            <tr  class="no-border">
                                <th>Describe the difficulties you have when making yourself a meal, including any side effects, eg pain or tiredness.</th>
                                <td>{{sectionFood.cook-other}}</td>
                            </tr>       
                            
                        </table>
                        
                        
                        </td>
                    </tr>
              <!-- Moving -->
    
                        </tr>
                        <td><a href="#moving" class="section-link"  id="moving">Moving around details</a></td>
                        <td>{{#sectionMovingComplete}} <span class="status-label complete">COMPLETE</span> {{/sectionMovingComplete}}
                        
                            {{^sectionMovingComplete}} <span class="status-label incomplete">INCOMPLETE</span> {{/sectionMovingComplete}}</td>
                        <td class="text-right"><a href="moving?edit=true">Edit</a></td>    
                    </tr>
                    <tr class="js-hidden section-panel" id="movingArea">
                        <td colspan="3">
                        
  <table>
                            
                            <tr>
                                <th>Do you use an aid or appliance to walk?</th>
                                <td>
                                
                                    {{#sectionMoving.distance-20}} 
										Less than 20 metres
								    {{/sectionMoving.distance-20}}
                                
                                    {{#sectionMoving.distance-50}} 
										Between 20 and 50 metres
								    {{/sectionMoving.distance-50}}                                

                                    {{#sectionMoving.distance-50-200}} 
										Between 50 and 200 metres
								    {{/sectionMoving.distance-50-200}}

                                     {{#sectionMoving.distance-200}} 
										200 metres or more
								    {{/sectionMoving.distance-200}}
                                    
                                     {{#sectionMoving.it-varies}} 
										On a good day {{sectionMoving.good-distance}} metres<br />
                                        On a bad day {{sectionMoving.bad-distance}} metres
								    {{/sectionMoving.it-varies}}
                                    
                                </td>
                            </tr>
      
                            <tr>
                                <th>How far can you walk taking into account any aids or appliances that you use?</th>
                                <td>
                                    {{#sectionMoving.aids-appliances}} Yes {{/sectionMoving.aids-appliances}}
                        
                                    {{^sectionMoving.aids-appliances}} No {{/sectionMoving.aids-appliances}}
                                
                                </td>
                            </tr>
      
                            
                            {{#sectionMoving.aids-appliances}}
                            <tr>
                                <th>Tell us about the aids and appliances that you use to walk and how often you use them.</th>
                                <td>{{sectionMoving.aids-appliances-details}}</td>
                            </tr> 
                            {{/sectionMoving.aids-appliances}}
                            
                            <tr>
                                <th>Do you use a wheelchair or similar device to move around safely?</th>
                                <td>
                                    {{#sectionMoving.wheelchair}} Yes {{/sectionMoving.wheelchair}}
                        
                                    {{^sectionMoving.wheelchair}} No {{/sectionMoving.wheelchair}}
                                
                                </td>
                            </tr>  
                            {{#sectionMoving.wheelchair}}
                            <tr>
                                <th>Tell us about the device you use and how often you use it.</th>
                                <td>{{sectionMoving.wheel-chair}}</td>
                            </tr>  
                            {{/sectionMoving.wheelchair}}
                            
                            <tr class="no-border">
                                <th>Tell us more about the difficulties you have physically moving around.</th>
                                <td>{{sectionMoving.moving-around}}</td>
                            </tr>       
                            
                        </table>
                        
                        
                        
                        </td>
                    </tr>
              
              
              
                </table>
                
                
                
                
            </div>
        </div>


    <p>
        <br />
        {{#link}} <a class="button" href="confirm">Submit</a> {{/link}}

        {{^link}} 
        
        <a class="button disabled">Submit</a>
        
        
        {{/link}}

</p>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}

<script>
$(document).ready(function() {
        $(".section-link").click(function() {
            //hide and reset link
            $(".section-panel").hide();
            $(".section-link").removeClass("section-link-before");
            $(".row-highlight").removeClass("row-highlight");
            
            //display new and change font arrow
            $(this).addClass("section-link-before");
            
            $(this).parent().parent().addClass("row-highlight");
            $("#"+this.id+"Area").addClass("row-highlight");
            
          $("#"+this.id+"Area").toggle();
            return false;
        });
});
</script>


{{/bodyEnd}}

{{/govuk_template}}
