{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
    
			<form action="pip09" method="#" class="form">
			
				<a href="eating-drinking" class="example-back-link">Back</a>
				
				<!--div class="section-progress">
				Step 1 of 17
				</div-->
                <h1 class="form-title heading-large">
                Your day-to-day life - eating and drinking
                </h1>

                
                <h2 class="heading-small">Complete the following statements</h2>

                
                {{#reminder-to-eat}}
                <div class="form-group inline"> 
                    <label class="form-label">I need prompting or reminding to eat <input type="text" name="prompting-value" class="form-control-small" /> days a week </label>
                    <label class="form-label" for="prompting-area">because... <input class="form-control-2-4" name="prompting-area" id="prompting-area" /> .</label>
                    
                </div> 
    			{{/reminder-to-eat}}
                    
    				
                {{#food-prep}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label">I need someone to cut my food up for me <input type="text" name="food-prep" class="form-control-small"  /> days a week</label>
                    <label class="form-label" for="food-prep-area">because... <input class="form-control-2-4" id="food-prep-area" /> .</label>
                </div> 
    			{{/food-prep}}

                {{#feeding}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label">I need someone to put food in my mouth <input type="text" name="feeding" class="form-control-small" /> days a week</label>
                    <label class="form-label" for="feeding-area">because... <input class="form-control-2-4" id="feeding-area" /> .</label>
                </div> 
                {{/feeding}}

                {{#feeding-tube}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label" for="feeding-tube">I need to use a feeding tube <input type="text" name="feeding-tube" class="form-control-small" /> days a week</label>
                    <label class="form-label" for="feeding-tube-area">because... <input class="form-control-2-4" id="feeding-tube-area" /> .</label>
                </div> 
                {{/feeding-tube}}
                    
                {{#supervising}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label" for="supervising">I need supervising whilst eating because...</label>
                    <input class="form-control-2-4" id="supervising" />
                </div>     
                {{/supervising}}
                    
                    
                {{#special-equipment}}
                <div class="form-group inline" id="details">
                    <label class="form-label add-padding" for="details-box">The aids or special equipment I use to eat are</label>
                    <textarea type="text" class="form-control-3-4" id="details-box"></textarea> 
                    
                    <label class="form-label">and I need to use them <input type="text" name="food-prep2" class="form-control-small" /> days a week.</label>
                </div>    
                {{/special-equipment}}

                {{#side-effects}}
                <div class="form-group inline" id="details">
                    <label class="form-label add-padding" for="details-box">The side-effects I get from eating or drinking are</label>
                    <textarea type="text" class="form-control-3-4" id="details-box"></textarea> 
                    
                    <label class="form-label">and I get them <input type="text" name="food-prep2" class="form-control-small" /> days a week.</label>
                </div>    
                {{/side-effects}}
                    
                    
                <div class="form-group inline" id="details">
                    <label class="form-label-bold add-padding" for="details-box">Please tell us more about the difficulties you have eating.</label>
                    <textarea type="text" class="form-control-3-4" id="details-box"></textarea> 
                </div>
                    
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                </div>
                
                
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
