#page-container { width:940px; margin: 0 auto; }


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

.sectioning { padding-bottom: 0.8em; border: 1px solid red;}

.spacer {
  display: block;
  padding-bottom: 18px;
}

.application-notice, article .application-notice
{
  padding-top: 0.1em;
  padding-right: 0px;
  padding-bottom: 0.1em;
  padding-left: 1em;
}

.help-notice, article .help-notice
{
  background-color: transparent;
  background-image: url("/public/images/icons/icon-important-0976ff4a275422b183be917d4b3ef444.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 3em;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

.help-notice p, .help-notice p, .info-notice, article p + .help-notice, article p + .info-notice
{

  margin-left: 0.5em;
  padding-left: 2em;
  margin-top: 2em;
  font-weight: bold;
}

/* pagination solen from GOV UK */
.pagination {
    display: block;
    margin: 4em 0 0 0;
    border-bottom: 1px solid #bfc1c3
}

@media (max-width: 640px) {
    .pagination {
        margin: 2em 0 0 0
    }
}

.pagination ul {
    margin: 0;
    padding: 0
}

.pagination li {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 49%
}

@media (max-width: 640px) {
    .pagination li {
        font-size: 14px;
        line-height: 1.14286
    }
}

.pagination li a {
    background-color: transparent;
    display: block;
    color: #005ea5;
    text-decoration: none
}

.pagination li a:hover, .pagination li a:active {
    background-color: #f8f8f8
}

.pagination li a .pagination-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 27px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 0.1em;
    display: block
}

@media (max-width: 640px) {
    .pagination li a .pagination-label {
        font-size: 20px;
        line-height: 1.11111
    }
}

.pagination li a .pagination-part-title {
    text-decoration: underline
}

.pagination li.next {
    float: right;
    text-align: right
}

.pagination li.next a:before {
    background: transparent url(/public/images/icons/arrow-sprite-8275c6a71c56adfe1ac2b06ae7d4b12e.png) no-repeat -102px -11px;
    margin: -4px -32px 0 0;
    display: block;
    float: right;
    width: 30px;
    height: 38px;
    content: " "
}

.pagination li.previous a:before {
    background: transparent url(/public/images/icons/arrow-sprite-8275c6a71c56adfe1ac2b06ae7d4b12e.png) no-repeat -20px -11px;
    margin: -4px 0 0 -32px;
    display: block;
    float: left;
    width: 30px;
    height: 38px;
    content: " "
}

.pagination li.previous {
    float: left;
    text-align: left
}

.pagination li.previous a {
    padding: 0.75em 0 0.75em 3em
}

.pagination li.next a {
    padding: 0.75em 3em 0.75em 0
}

@media (max-width: 640px) {
    .pagination li.previous, .pagination li.next {
        float: left;
        width: 50%
    }

    .pagination li.next a {
        text-align: right
    }
}

.pagination .first, .pagination .last {
    min-height: 4.5em
}

.pagination .first span, .pagination .last span {
    display: block;
    min-height: 4.5em;
    padding: 0.75em 5%;
    width: 90%
}

.pagination .first .pagination-label, .pagination .last .pagination-label {
    display: block;
    margin-bottom: 0.5em
}
.list-bullet.list-none {
  list-style-type: none;
  margin-left: 0;
}

a.button-get-started { background-image: url("/public/images/icons/icon-pointer.png"); }


.mvp-inline p {   line-height:2.5em; font-weight:bold;  }

.mvp-inline input { line-height:1em; }
.mvp-inline textarea { line-height:1em; }


label + input { margin-top:10px; }
label + textarea { margin-top:10px; }

.form-control-small { width:30px; }


/* big green box */


.highlighted-event {
    background-color: #28a197;
    color: #fff;
    text-align: center;
    padding: 1em 2em 1em 2em;
    margin: 0
}

.highlighted-event p {
    margin-bottom: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}

.highlighted-event em {
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5em;
    color: #fff
}

/* panel padding */

.panel {
  clear: both;
  padding: 10px 0 10px 0;
  margin: 30px 15px 45px 0;
}


 textarea {
  min-height: 6em;
}

.column-full-width { width:100%;  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;}

.login-information { text-align:right; padding-top:10px; colour:grey; }

.inner-panel { margin-top:10px; }
legend { width:100%; }
