// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';
@import 'pip';
@import 'review-table';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.


.list-bullet.list-none {
  list-style-type: none;
  margin-left: 0;
}
.list-bullet.list-tick {
	list-style-type: none;
	padding-left: 0;
}
.list-bullet.list-tick li {
	background: transparent url("/public/images/blue-tick.png") no-repeat 0 0;
	padding-left: 25px;
}

table.condition {
	.form-control{
		width: 100%;
	}
	.numeric, th.numeric {
		width: 25%;
		text-align: left;
	}
	th, td {
		border: none;
		padding: 0.5em 1em 0.5em 0;
	}
}

.column-third.app {
	border-left: 1px solid #bfc1c3;
}

ul.side-nav {
	margin-top: 100px;
}

ul.side-nav {
	
}
