// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';
@import 'pip';
@import 'review-table';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(beta); // Change this to (beta) for a beta banner
}
.alpha-tag {
  @include phase-tag(beta); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.


.list-bullet.list-none {
  list-style-type: none;
  margin-left: 0;
}
.list-bullet.list-tick {
	list-style-type: none;
	padding-left: 0;
}
.list-bullet.list-tick li {
	background: transparent url("/public/images/blue-tick.png") no-repeat 0 0;
	padding-left: 25px;
}

table.condition {
	.form-control{
		width: 100%;
	}
	.numeric, th.numeric {
		width: 25%;
		text-align: left;
	}
	th, td {
		border: none;
		padding: 0.5em 1em 0.5em 0;
	}
}

.column-third.app {
	border-left: 1px solid #bfc1c3;
}

ul.side-nav {
	margin-top: 25px;
	margin-bottom: 50px;
}

ul.side-nav li {
	font-size: 16px;

}

ul.side-nav li a {
	padding: 7px 0 6px 20px;
	display: block;
	text-decoration: none;
	background: transparent url("/public/images/left-arrow.png") no-repeat 0px 12px;
}

/*******
sprint 15
********/
.exit-link {
  cursor: pointer;
  display: block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #00f;
  text-decoration: underline;
  margin-top: 20px;
}


/* this needs to be refactored into css build process */

legend.form-label-bold {
	float:left;
	width:100%;
}

table.condition .form-control {
  width: 95%;
}

table.condition .numeric,
table.condition th.numeric {
  width: 25%;
  text-align: left;
}

table.condition th,
table.condition td {
  border: none;
  padding: 0.5em 1em 0.5em 0;
 }

.error .form-control-no-error { border: 1px solid #bfc1c3; }

.inner-panel { margin-bottom:0px; }
.inner-panel .form-group { margin-top:10px;}

table.condition .form-group {
	margin-bottom:0;
}


ul.submit-evidence li {
	float:left;
	width:100%;
}

.account-number {
	background:#d3d3d3;
	font-size:40px;
	font-weight:900;
}

textarea.form-control-3-4 {
	height:200px;
}

textarea.additionalInfo {
	height:325px;
}

.exit-link {
	cursor: pointer;
	display:block;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #00f;
	text-decoration: underline;
	margin-top: 20px;
}

/********************
Errors
********************/

.error-summary .error-summary-list li {
	color:#b10e1e;
	display:list-item;
	list-style-type:disc;
	margin-left:20px;
}

.error-summary .error-summary-list li::first-letter {
	text-transform:lowercase;
}


/********************
Check and change
********************/

.check-and-change > li {
	border-bottom:1px solid #dee0e2;
	float:left;
	margin-bottom:10px;
	padding-top:15px;
	width:100%;
}

.check-and-change li .form-group {
	margin-bottom:0;
}

.change-my-answer {
  background:#DEE0E2;
}

.show-answer {
	float: right;
}

#check-my-answers section {
  margin-left:30px;
}


.question {
	font-size:20px;
}

#check-my-answers h3{
	float:left;
	margin-top:1em;
}

.answered-question {
	float:left;
	margin-bottom:5px;
	width:100%;
}

.seperator {
  border-top:1px solid #dee0e2;
  padding-top:20px;
}

#check-my-answers .grid-row {
margin-right: 0;
}
#check-my-answers section {
  margin-left:15px;
}

.check-and-change .button {
  background:#eee;
  box-shadow:0 0;
  color:#000;
  margin:10px 0 15px;
}

@media only all and (max-width:40em) {
	.check-and-change .column-two-thirds {
    float:none;
  }

  .check-and-change p.column-two-thirds,
	.show-all .column-two-thirds {
		float: left;
	}
	.check-and-change .button {
		text-align: center;
		margin-left:-13px;
		width:100%;
	}
}


.check-and-change p.column-third,
.check-and-change .column-two-thirds {
  padding:0 ;
}

.check-and-change .column-two-thirds {
  padding-left:0;
}

.check-and-change .show-answer {
  padding-left:15px;
}
/*****************************/
.help-text .panel-indent {
  margin-bottom:10px;
}

.help-text .list-bullet {
  margin-bottom:0;
}

.form-control {
  border:1px solid #6F777B;
}


.character-count {
  float:left;
  margin:10px 0 0 4px;
  text-align:right;
}

.help-text {
  margin-top:15px;
}

[class*="heading-"] .section-progress {
font-size: 2rem;
font-weight: 300;
display: block;
color: #6f777b;
}



/*************************************
new designs
*************************************/

.form-title {
  font-size:46px;
  margin-bottom:17px;
}

.form-login .panel-indent {
  position:relative;
  background: rgb(40,161,151); /* Fallback for older browsers without RGBA-support */
  background: rgba(40,161,151,0.25);
  border-left:6px solid #28A197;
  padding:20px 27px 15px;
}

.intro-text  {
  font-size:24px;
}
