				<h1 class="form-title heading-large">
				Your day-to-day life - understanding
				</h1>
				
				
				<fieldset>
					<div class="form-group">
						<legend class="form-label-bold" for="aids-appliances">Which of the following do you ever have trouble or need help understanding?</legend>
						<label class="block-label"  for="aids-preparing-food">
							<input id="aids-preparing-food" type="checkbox" name="aids-appliances" value="Preparing food">
							What people are saying
						</label>
						<label class="block-label" for="aids-eating-food">
							<input id="aids-eating-food" type="checkbox" name="aids-appliances" value="Eating food">
							Signs, symbols, letters or words
						</label> 
						<label class="block-label" for="aids-communicating">
							<input id="aids-communicating" type="checkbox" name="aids-appliances" value="Communicating">
							Numbers (eg what things cost or money)
						</label> 
						<label class="block-label" for="aids-moving">
							<input id="aids-moving" type="checkbox" name="aids-appliances" value="Moving around">
							How to get around (eg public transport)
						</label> 
						<label class="block-label" for="aids-medication">
							<input id="aids-medication" type="checkbox" name="aids-appliances" value="Taking medication">
							Other people's feelings
						</label> 
						<label class="block-label" for="aids-washing">
							<input id="aids-washing" type="checkbox" name="aids-appliances" value="Washing">
							Have to behave around others or in public
						</label> 
						<label class="block-label" for="aids-dressing">
							<input id="aids-dressing" type="checkbox" name="aids-appliances" value="Dressing">
							Basic instructions
						</label>   
					</div>
				</fieldset>
					
				<div class="panel form-group">  
					<label class="form-label-bold add-padding" for="aids-other">Tell us about the difficulties you have understanding the above and how often</label>
					<textarea type="text" class="form-control-3-4" id="aids-other"></textarea>
				</div>  
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>
