				<h1 class="form-title heading-large">
				Your day-to-day life - anxiety and stress
				</h1>
				
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="aids">Do you suffer from anxiety or stress when doing every day tasks or activities?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="aids-details" for="aids-yes">
							<input id="aids-yes" type="radio" name="aids" value="Yes">
							Yes
						</label>
						<label class="block-label" for="aids-no">
							<input id="aids-no" type="radio" name="aids" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="aids-details">
				
					<fieldset>
						<div class="form-group">
							<legend class="form-label-bold" for="aids-appliances">Which of the following activities cause you anxiety or stress?</legend>
							<label class="block-label" for="aids-communicating">
								<input id="aids-communicating" type="checkbox" name="aids-appliances" value="Communicating">
								Mixing with other people
							</label> 
							<label class="block-label" for="aids-medication">
								<input id="aids-medication" type="checkbox" name="aids-appliances" value="Taking medication">
								Receiving medical treatment
							</label> 
							<label class="block-label" for="aids-going-out">
								<input id="aids-going-out" type="checkbox" name="aids-appliances" value="Going out">
								Going out
							</label>  
							<label class="block-label" for="aids-planning">
								<input id="aids-planning" type="checkbox" name="aids-appliances" value="Planning">
								Planning a route
							</label> 
							<label class="block-label" for="aids-money">
								<input id="aids-money" type="checkbox" name="aids-appliances" value="Managing money">
								Other
							</label>
						</div>
					</fieldset>
						
					<div class="panel form-group">  
						<label class="form-label-bold add-padding" for="aids-other">Tell us more about the anxiety or stress you get when doing the above activities and how often it affects you.</label>
						<textarea type="text" class="form-control-3-4" id="aids-other"></textarea>
					</div>  

					<div class="form-group">  
						<label class="form-label-bold add-padding" for="aids-other">What do you do to manage your stress?</label>
						<textarea type="text" class="form-control-3-4" id="aids-other"></textarea>
					</div>  
				
				</div> 
				


				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>
