				<h1 class="form-title heading-large">
				Your day-to-day life - planning
				</h1>
				
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="aids">Do you need help planning simple every day tasks or activities?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="aids-details" for="aids-yes">
							<input id="aids-yes" type="radio" name="aids" value="Yes">
							Yes
						</label>
						<label class="block-label" for="aids-no">
							<input id="aids-no" type="radio" name="aids" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="aids-details">
				
					<fieldset>
						<div class="form-group">
							<legend class="form-label-bold" for="aids-appliances">Which of the following activities do you need help with planning?</legend>
							<label class="block-label" for="aids-dressing">
								<input id="aids-dressing" type="checkbox" name="aids-appliances" value="Dressing">
								Dressing and undressing
							</label> 
							<label class="block-label" for="aids-going-out">
								<input id="aids-going-out" type="checkbox" name="aids-appliances" value="Going out">
								Going out
							</label> 
							<label class="block-label" for="aids-money">
								<input id="aids-money" type="checkbox" name="aids-appliances" value="Managing money">
								Managing money/finances
							</label> 
							<label class="block-label" for="aids-planning">
								<input id="aids-planning" type="checkbox" name="aids-appliances" value="Planning">
								Planning a route
							</label> 
							<label class="block-label" for="aids-other">
								<input id="aids-other" type="checkbox" name="aids-appliances" value="Planning">
								Other
							</label> 
						</div>
					</fieldset>
						
					<div class="panel form-group">  
						<label class="form-label-bold add-padding" for="aids-other">Tell us more about the help you require planning the above activities and how often you need it.</label>
						<textarea type="text" class="form-control-3-4" id="aids-other"></textarea>
					</div>  
				
				</div> 
				


				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="reminding">Do you need reminding or encouraging to do every day tasks or activities?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="reminding-details" for="reminding-yes">
							<input id="reminding-yes" type="radio" name="reminding" value="Yes">
							Yes
						</label>
						<label class="block-label" for="reminding-no">
							<input id="reminding-no" type="radio" name="reminding" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->

				<div class="panel-indent js-hidden" id="reminding-details">
				
					<fieldset>
						<div class="form-group">
							<legend class="form-label-bold" for="reminding">Which of the following activities do you need reminding or encouraging to do?</legend>
							<label class="block-label"  for="reminding-preparing-food">
								<input id="reminding-preparing-food" type="checkbox" name="reminding" value="Preparing food">
								Preparing food
							</label>
							<label class="block-label" for="reminding-eating-food">
								<input id="reminding-eating-food" type="checkbox" name="reminding" value="Eating food">
								Eating food
							</label> 
							<label class="block-label" for="reminding-communicating">
								<input id="reminding-communicating" type="checkbox" name="reminding" value="Communicating">
								Communicating
							</label> 
							<label class="block-label" for="reminding-medication">
								<input id="reminding-medication" type="checkbox" name="reminding" value="Taking medication">
								Taking medication
							</label> 
							<label class="block-label" for="reminding-washing">
								<input id="reminding-washing" type="checkbox" name="reminding" value="Washing">
								Washing and bathing
							</label> 
							<label class="block-label" for="reminding-dressing">
								<input id="reminding-dressing" type="checkbox" name="reminding" value="Dressing">
								Dressing and undressing
							</label> 
							<label class="block-label" for="reminding-toilet">
								<input id="reminding-toilet" type="checkbox" name="reminding" value="Going to the toilet">
								Going to the toilet
							</label> 
							<label class="block-label" for="reminding-reading">
								<input id="reminding-reading" type="checkbox" name="reminding" value="Reading">
								Mixing with other people
							</label> 
							<label class="block-label" for="reminding-going-out">
								<input id="reminding-going-out" type="checkbox" name="reminding" value="Going out">
								Going out
							</label> 
							<label class="block-label" for="reminding-money">
								<input id="reminding-money" type="checkbox" name="reminding" value="Counting money">
								Managing finances
							</label> 
						</div>
					</fieldset>
						
					<div class="panel form-group">  
						<label class="form-label-bold add-padding" for="reminding-box">Please tell us about when you need reminding or encouraging and how often.</label>
						<textarea type="text" class="form-control-3-4" id="reminding-box"></textarea>
					</div>  
				
				</div>


				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>