				<h1 class="form-title heading-large">
				Your day-to-day life - help from other people
				</h1>
				
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="aids">Do you need physical help from other people to accomplish simple everyday tasks or activities?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="aids-details" for="aids-yes">
							<input id="aids-yes" type="radio" name="aids" value="Yes">
							Yes
						</label>
						<label class="block-label" for="aids-no">
							<input id="aids-no" type="radio" name="aids" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="aids-details">
				
					<fieldset>
						<div class="form-group">
							<legend class="form-label-bold" for="aids-appliances">For which of the following activities do you need physical help wth?</legend>
							<label class="block-label"  for="aids-preparing-food">
								<input id="aids-preparing-food" type="checkbox" name="aids-appliances" value="Preparing food">
								Preparing food
							</label>
							<label class="block-label" for="aids-eating-food">
								<input id="aids-eating-food" type="checkbox" name="aids-appliances" value="Eating food">
								Eating food
							</label> 
							<label class="block-label" for="aids-communicating">
								<input id="aids-communicating" type="checkbox" name="aids-appliances" value="Communicating">
								Communicating
							</label> 
							<label class="block-label" for="aids-moving">
								<input id="aids-moving" type="checkbox" name="aids-appliances" value="Moving around">
								Moving around
							</label> 
							<label class="block-label" for="aids-medication">
								<input id="aids-medication" type="checkbox" name="aids-appliances" value="Taking medication">
								Taking medication
							</label> 
							<label class="block-label" for="aids-treatment">
								<input id="aids-treatment" type="checkbox" name="aids-appliances" value="Taking medication">
								Having treatment or therapy at home
							</label> 
							<label class="block-label" for="aids-washing">
								<input id="aids-washing" type="checkbox" name="aids-appliances" value="Washing">
								Washing and bathing
							</label> 
							<label class="block-label" for="aids-dressing">
								<input id="aids-dressing" type="checkbox" name="aids-appliances" value="Dressing">
								Dressing and undressing
							</label> 
							<label class="block-label" for="aids-toilet">
								<input id="aids-toilet" type="checkbox" name="aids-appliances" value="Going to the toilet">
								Going to the toilet
							</label> 
							<label class="block-label" for="aids-reading">
								<input id="aids-reading" type="checkbox" name="aids-appliances" value="Reading">
								Reading
							</label> 
							<label class="block-label" for="aids-going-out">
								<input id="aids-going-out" type="checkbox" name="aids-appliances" value="Going out">
								Going out
							</label> 
							<label class="block-label" for="aids-money">
								<input id="aids-money" type="checkbox" name="aids-appliances" value="Counting money">
								Paying bills and counting money
							</label> 
						</div>
					</fieldset>
						
					<div class="panel form-group">  
						<label class="form-label-bold add-padding" for="aids-other">Tell us more about the physical help you need for the activities and tasks that you have chosen and how often you need that help.</label>
						<textarea type="text" class="form-control-3-4" id="aids-other"></textarea>
					</div>  
				
				</div> 



				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="supervision">Do you need supervision to do simple everyday tasks or activities?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="supervision-details" for="supervision-yes">
							<input id="supervision-yes" type="radio" name="supervision" value="Yes">
							Yes
						</label>
						<label class="block-label" for="supervision-no">
							<input id="supervision-no" type="radio" name="supervision" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="supervision-details">
				
					<fieldset>
						<div class="form-group">
							<legend class="form-label-bold" for="supervision">Which of the following activities do you need supervision for?</legend>
							<label class="block-label"  for="supervision-preparing-food">
								<input id="supervision-preparing-food" type="checkbox" name="supervision" value="Preparing food">
								Preparing food
							</label>
							<label class="block-label" for="supervision-eating-food">
								<input id="supervision-eating-food" type="checkbox" name="supervision" value="Eating food">
								Eating food
							</label> 
							<label class="block-label" for="supervision-moving">
								<input id="supervision-moving" type="checkbox" name="supervision" value="Moving around">
								Moving around
							</label> 
							<label class="block-label" for="supervision-medication">
								<input id="supervision-medication" type="checkbox" name="supervision" value="Taking medication">
								Taking medication
							</label> 
							<label class="block-label" for="supervision-washing">
								<input id="supervision-washing" type="checkbox" name="supervision" value="Washing">
								Washing and bathing
							</label> 
							<label class="block-label" for="supervision-dressing">
								<input id="supervision-dressing" type="checkbox" name="supervision" value="Dressing">
								Dressing and undressing
							</label> 
							<label class="block-label" for="supervision-toilet">
								<input id="supervision-toilet" type="checkbox" name="supervision" value="Going to the toilet">
								Going to the toilet
							</label> 
							<label class="block-label" for="supervision-going-out">
								<input id="supervision-going-out" type="checkbox" name="supervision" value="Going out">
								Going out
							</label> 
							<label class="block-label" for="supervision-money">
								<input id="supervision-money" type="checkbox" name="supervision" value="Counting money">
								Mixing with other people
							</label> 
						</div>
					</fieldset>
						
					<div class="panel form-group">  
						<label class="form-label-bold add-padding" for="supervision-box">Please tell us about what supervsion you require and how often you need it for the above activities.</label>
						<textarea type="text" class="form-control-3-4" id="supervision-box"></textarea>
					</div>  
				
				</div>

				


				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>
