
					<!--div class="section-progress">
					Step 3 of 17
					</div-->
					
					<h1 class="form-title heading-large">
					Before you start
					</h1>

					<p>To get Personal Independence Payment you must have a <a href="/definition-of-disability-under-equality-act-2010">long-term health condition or disability</a> that:</p>

					<ul class="list-bullet">
						<li>affects your mobility, physical ability or mental health</li>
						<li>makes it difficult for you to live independently</li>
						<li>is expected to last 12 months in total</li>
					</ul>

					<p>Your application may include a face to face meeting with a healthcare professional to assess how your condition affects your daily life.</p>

					<div class="panel-indent">
						<p class="alert">If you're terminally ill and have a DS1500 from your doctor you should phone 0800120 1234 to have your claim dealt with more quickly.</p>
					</div>
					
					<!-- Primary buttons, secondary links -->
					<div class="form-group">
						<input type="submit" class="button" value="I understand - start my application">
					</div>