				<h1 class="form-title heading-large">
				Declaration
				</h1>

				<p>By sending this application you agree:</p>
				<ul class="list-bullet">
					<li>the information in this application is complete and correct</li>
					<li>to report any changes
					to your circumstances</li>
				</ul>

				<div class="application-notice help-notice">
					<p>You could have to pay a penalty if you deliberately give the wrong information, leave out information that would affect your claim, or don't report changes.</p>
				</div>

				<p id="get-started" class="get-started-group">
					<a class="button" rel="external" href"https://pip-sprint1.herokuapp.com/pip/guard-page.html"> I agree - send my application </a>
				</p>
