				<h1 class="form-title heading-large">
				Your day-to-day life - eating and drinking
				</h1>
				
				<fieldset class="inline">
				
					<legend class="form-label-bold" for="preparing-food">Do you ever need help or use any special equipment to eat or drink?</legend>
					<p class="form-hint">This includes remembering when to eat cutting food into pieces, putting food or drink in your mouth or chewing and swallowing food.</p>
					
					<div class="form-group">
						<label class="block-label" data-target="preparing-food-details" for="preparing-food-yes">
							<input id="preparing-food-yes" type="radio" name="preparing-food" value="Yes">
							Yes
						</label>
						<label class="block-label" for="preparing-food-no">
							<input id="preparing-food-no" type="radio" name="preparing-food" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="preparing-food-details">
				
					<fieldset class="inline">
					
						<div class="form-group">
							<label class="form-label-bold" for="aids-appliances">Do you use any aids or special equipment when eating or drinking?</label>
							<p class="form-hint">This includes things like adapted cutlery.</p>
							<label class="block-label" data-target="aids-appliances-details" for="aids-appliances-yes">
								<input id="aids-appliances-yes" type="radio" name="aids-appliances" value="Yes">
								Yes
							</label>
							<label class="block-label" for="aids-appliances-no">
								<input id="aids-appliances-no" type="radio" name="aids-appliances" value="No">
								No
							</label>  
						</div>
						
						<div class="panel js-hidden" id="aids-appliances-details">
							<label class="form-label" for="aids-appliances-details-box">Describe what they are and how often you use them.</label>
							<textarea type="text" class="form-control-3-4" id="aids-appliances-details-box"></textarea> 
						</div>


						<div class="form-group">
							<label class="form-label-bold" for="feeding-tube">Do you use a feeding tube or similar device to eat or drink?</label>
							<p class="form-hint">This includes things like a feeding tube with a rate limiting device as a delivery system or feed pump.</p>
							<label class="block-label" data-target="feeding-tube-details" for="feeding-tube-yes">
								<input id="feeding-tube-yes" type="radio" name="feeding-tube" value="Yes">
								Yes
							</label>
							<label class="block-label" for="feeding-tube-no">
								<input id="feeding-tube-no" type="radio" name="feeding-tube" value="No">
								No
							</label>  
						</div>
						
						<div class="panel js-hidden" id="feeding-tube-details">
							<label class="form-label" for="feeding-tube-details-box">Describe what they are and how often you use them.</label>
							<textarea type="text" class="form-control-3-4" id="feeding-tube-details-box"></textarea> 
						</div>

						
						<div class="form-group">
							<label class="form-label-bold" for="another-person">Do you need help from another person to eat or drink?</label>
							<p class="form-hint">This includes cutting your food up, feeding you, supervising you for your own safety or reminding you to eat.</p>
							<label class="block-label" data-target="another-person-details" for="another-person-yes">
								<input id="another-person-yes" type="radio" name="another-person" value="Yes">
								Yes
							</label>
							<label class="block-label" for="another-person-no">
								<input id="another-person-no" type="radio" name="another-person" value="No">
								No
							</label>  
						</div>
						
						<div class="panel js-hidden" id="another-person-details">
							<label class="form-label" for="another-person-details-box">Describe the help you need and how often you need it.</label>
							<textarea type="text" class="form-control-3-4" id="another-person-details-box"></textarea> 
						</div>
						
						<div class="form-group">  
							<label class="form-label-bold" for="cook-other">Describe the difficulties or help you need to eat and drink.</label>
							<p class="form-hint">This includes if you can't do it safely, to an acceptable standard or in a reasonable time.</p>
							<!--ul class="form-hint list-bullet">
								<li>If you can't do this safely, as often as you need to, or in a reasonable time.</li>
								<li>If you can only cook using a microwave.</li>
								<li>If your ability to do it varies, tell us in what way and how often - for example, telling us about good and bad days or how it varies throughout the day.</li>
								<li>If you can do it but it takes you a long time.</li>
								<li>If you have side effects from carrying out the activity - either during or after the activity - like pain, breathlessness or tiredness.</li>
							</ul-->
							<textarea type="text" class="form-control-3-4" id="cook-other"></textarea>
						</div>  
					
					</fieldset>
				
				</div> 
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>
