				<h1 class="form-title heading-large">Your healthcare professionals</h1>
				
				<p>We need the details of at least one healthcare professional who can advise us on your circumstances. </p>
				<p>You can add details of up to three healthcare professionals. This will help us to process your claim.</p>

				<details>
	    			<summary><span class="summary">What is a healthcare professional?</span></summary>
	    			<div class="panel-indent">
			      		<p>Your health care professional is your:</p>
						<ul class="list-bullet">
							<li>doctor</li>
							<li>GP</li>
							<li>hospital doctor</li>
							<li>specialist nurse</li>
							<li>community psychiatric nurse</li>
							<li>occupational therapist</li>
							<li>physiotherapist</li>
							<li>social worker</li>
							<li>counsellor</li>
							<li>support worker</li>
						</ul>
			    	</div>
		  		</details>
				
				
				<!-- health care professional  -->
				<fieldset>   
				
					<legend class="form-label-bold add-padding">Healthcare professional details</legend>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-name">Name</label>
						<input type="text" class="form-control" id="healthcare-professional-name">
					</div>
					
					<div class="form-group">
						<p class="form-label" for="healthcare-professional-address">Address</p>   
						<label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
						<label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
						<label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
					</div>
					
					<div class="form-group">
						<label class="form-label" for="address">Postcode</label>
						<input type="text" class="form-control-1-4" id="postcode">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-type">Profession</label>
						<p class="form-hint">For example, hospital doctor.</p>
						<input type="text" class="form-control" id="healthcare-professional-type">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-phone">Phone number</label>
						<input type="text" class="form-control" id="healthcare-professional-phone">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-date">When did you last see them?</label>
						<p class="form-hint">Provide an approximate date.</p>
						<input type="text" class="form-control" id="healthcare-professional-date">
					</div>
					
					<a href="#" id="show-health-worker-2" class="button secondary">Add another healthcare professional</a>
				
				</fieldset>
				
				<!-- health care professional  -->
				<fieldset class="js-hidden" id="health-worker-2">   
				
					<legend class="form-label-bold add-padding">Healthcare professional details</legend> 	  
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-name-2">Name</label>
						<input type="text" class="form-control" id="healthcare-professional-name-2">
					</div>
					
					<div class="form-group">
						<p class="form-label" for="healthcare-professional-address-2">Address</p>   
						<label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
						<label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
						<label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
					</div>
					
					<div class="form-group">
						<label class="form-label" for="postcode">Postcode</label>
						<input type="text" class="form-control-1-4" id="postcode">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-type-2">Profession</label>
						<p class="form-hint">For example, hospital doctor.</p>
						<input type="text" class="form-control" id="healthcare-professional-type-2">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-phone-2">Phone number</label>
						<input type="text" class="form-control" id="healthcare-professional-phone-2">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-date-2">When did you last see them?</label>
						<p class="form-hint">Provide an approximate date.</p>
						<input type="text" class="form-control" id="healthcare-professional-date-2">
					</div>
					
					<a href="#" id="show-health-worker-3" class="button secondary">Add another healthcare professional</a>
				
				</fieldset>
				
				<!-- health care professional  -->
				<fieldset class="js-hidden" id="health-worker-3">   
				
					<legend class="form-label-bold add-padding">Healthcare professional details</legend>  
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-name-3">Name</label>
						<input type="text" class="form-control" id="healthcare-professional-name-3">
					</div>
					
					<div class="form-group">
						<p class="form-label" for="healthcare-professional-address-2">Address</p>   
						<label class="form-label"><input type="text" class="form-control" id="address-line1"></label>
						<label class="form-label"><input type="text" class="form-control" id="address-line2"></label>
						<label class="form-label"><input type="text" class="form-control" id="address-line3"></label>
					</div>
					
					<div class="form-group">
						<label class="form-label" for="address">Postcode</label>
						<input type="text" class="form-control-1-4" id="postcode">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-type-3">Profession</label>
						<p class="form-hint">For example, hospital doctor.</p>
						<input type="text" class="form-control" id="healthcare-professional-type-3">
					</div>
					
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-phone-3">Phone number</label>
						<input type="text" class="form-control" id="healthcare-professional-phone-3">
					</div>
				
					<div class="form-group">
						<label class="form-label" for="healthcare-professional-date-3">When did you last see them?</label>
						<p class="form-hint">Provide an approximate date.</p>
						<input type="text" class="form-control" id="healthcare-professional-date-3">
					</div>
				
				</fieldset>
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>