<header>
  <h1 class="form-title heading-large">
    Help with your application </h1>
</header>

<ul>
  <li>

    <div class="form-group" id="form-group-helper">
      <fieldset class="inline">
        <legend class="form-label-bold" id="helper" for="helper">
          <span class="frequency-question">Is someone helping you fill in this application?</span>



        </legend>


        <label class="block-label" for="helper-Yes" data-target="helperDetailsFields">
          <input id="helper-Yes" type="radio" name="helper" value="Yes" aria-controls="helperDetailsFields"> Yes
        </label>
        <label class="block-label" for="helper-No">
          <input id="helper-No" type="radio" name="helper" value="No"> No
        </label>

      </fieldset>
    </div>

    <div class="panel-indent js-hidden" id="helperDetailsFields">
      <ul>
        <li>
        </li>
        <li class="form-group">

          <legend class="form-label">The name of the person helping you</legend>
          <div class="form-group" id="form-group-name">









            <input type="text" class="form-control " id="name" name="name" value="">
          </div>
        </li>
        <li class="form-group">
          <legend class="form-label">Their relationship to you</legend>
          <div class="form-group" id="form-group-relationship">









            <input type="text" class="form-control " id="relationship" name="relationship" value="">
          </div>

        </li>
      </ul>
    </div>

  </li>
</ul>
<div class="form-group">
  <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
  <input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
</div>
