				<h1 class="form-title heading-large">
				Your day-to-day life - mixing with other people
				</h1>
				
				
					

				<fieldset class="inline">
					
				
					<legend class="form-label-bold" for="communicating">Do you find it difficult to mix with other people?</legend>
					<p class="form-hint">Mixing is:
						<ul class="list-bullet form-hint">
   							<li>getting on with other people</li>
   							<li>behaving appropriately towards others</li>
    						<li>understanding how others behave towards you</li>
  						</ul>

					</p>
					
					<div class="form-group">
						<label class="block-label" data-target="communicating-details" for="communicating-yes">
							<input id="communicating-yes" type="radio" name="communicating" value="Yes">
							Yes
						</label>
						<label class="block-label" for="communicating-no">
							<input id="communicating-no" type="radio" name="communicating" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="communicating-details">
				
					<fieldset class="inline">
						<div class="form-group">
							<legend class="form-label-bold" for="aids-appliances">Do you need another person to help you to mix with other people?</legend>
							<p class="form-hint">This includes being prompted or encouraged to mix or socialise.</p>
							<label class="block-label" data-target="aids-appliances-details" for="aids-appliances-yes">
								<input id="aids-appliances-yes" type="radio" name="aids-appliances" value="Yes">
								Yes
							</label>
							<label class="block-label" for="aids-appliances-no">
								<input id="aids-appliances-no" type="radio" name="aids-appliances" value="No">
								No
							</label>  
						</div>
						
						<div class="panel js-hidden" id="aids-appliances-details">
							<label class="form-label" for="aids-appliances-details-box">Tell us about the type of help that you need mixing with people and in what situations.</label>
							<textarea type="text" class="form-control-3-4" id="aids-appliances-details-box"></textarea> 
						</div>
					</fieldset>

					<fieldset class="inline">
						<div class="form-group">
							<label class="form-label-bold add-padding" for="another-person">Do you find it difficult mixing with other people because of severe anxiety or stress?</label>
							
							<label class="block-label" data-target="another-person-details" for="another-person-yes">
								<input id="another-person-yes" type="radio" name="another-person" value="Yes">
								Yes
							</label>
							<label class="block-label" for="another-person-no">
								<input id="another-person-no" type="radio" name="another-person" value="No">
								No
							</label>  
						</div>
						
						<div class="panel js-hidden" id="another-person-details">
							<label class="form-label" for="another-person-details-box">Tell us more about the anxiety or stress you have when mixing with other people and how often.</label>
							<textarea type="text" class="form-control-3-4" id="another-person-details-box"></textarea> 
						</div>
					</fieldset>
						
					<div class="form-group">  
						<label class="form-label-bold add-padding" for="communicate-other">Tell us about the difficulties you have when interacting with other people.</label>
						<textarea type="text" class="form-control-3-4" id="communicate-other"></textarea>
					</div>  
					
					
				
				</div> 
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>
