				<h1 class="form-title heading-large">
				Your day-to-day life - moving around
				</h1>
				
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="moving-around">Do you ever have problems moving around?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="moving-around-details" for="moving-around-yes">
							<input id="moving-around-yes" type="radio" name="moving-around" value="Yes">
							Yes
						</label>
						<label class="block-label" for="moving-around-no">
							<input id="moving-around-no" type="radio" name="moving-around" value="No">
							No
						</label>  
					</div>
				
				</fieldset>
				
				<!--js-hidden / details-->
				
				<div class="panel-indent js-hidden" id="moving-around-details">
					<ul>
						<li>
							<fieldset>
							
								<div class="form-group">
									<p class="form-label-bold add-padding" for="distance">How far can you walk taking into account any aids or appliances that you use?</p>
									
									<label class="block-label" for="distance-20">
										<input id="distance-20" type="radio" name="distance" value="less-20">
										Less than 20 metres
									</label>
									<label class="block-label" for="distance-50">
										<input id="distance-50" type="radio" name="distance" value="20-50">
										Between 20 and 50 metres
									</label> 
									<label class="block-label" for="distance-200">
										<input id="distance-200" type="radio" name="distance" value="50-200">
										Between 50 and 200 metres
									</label> 
									<label class="block-label" for="distance-200-plus">
										<input id="distance-200-plus" type="radio" name="distance" value="200-plus">
										200 metres or more
									</label>  
									<label class="block-label" data-target="distance-details" for="distance-varies">
										<input id="distance-varies" type="radio" name="distance" value="it-varies">
										It varies
									</label> 
								</div>
								
								<div class="panel js-hidden" id="distance-details">
									<ul>
										<li>
											<div class="form-group spacer">
												<label class="form-label" for="good-distance">On a good day</label>
												<input type="text" class="form-control form-control-1-8" id="good-distance"> metres
											</div>
										</li>
										<li>
											<div class="form-group">
												<label class="form-label" for="bad-distance">On a bad day</label>
												<input type="text" class="form-control form-control-1-8" id="bad-distance"> metres
											</div>
										</li>
									</ul>
								</div>
							
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group panel">
								<div class="inline">
									<legend class="form-label-bold" for="aids-appliances">Do you use an aid or appliance to walk?</legend>
									<p class="form-hint">For example a walking stick, walking frame, crutches or prosthetics.</p>
									<label class="block-label" data-target="aids-appliances-details" for="aids-appliances-yes">
										<input id="aids-appliances-yes" type="radio" name="aids-appliances" value="Yes">
										Yes
									</label>
									<label class="block-label" for="aids-appliances-no">
										<input id="aids-appliances-no" type="radio" name="aids-appliances" value="No">
										No
									</label>  
								</div>
								<div class="panel js-hidden" id="aids-appliances-details">
									<label class="form-label" for="aids-appliances-details">Tell us about the aids and appliances that you use to walk and how often you use them.</label>
									<textarea type="text" class="form-control-3-4" id="aids-appliances-details"></textarea> 
								</div>
							</fieldset>
						</li>
						<li>
							<fieldset class="form-group panel">
								<div class="inline">
									<legend class="form-label-bold add-padding" for="wheelchair">Do you use a wheelchair or similar device to move around safely?</legend>
									<label class="block-label" data-target="wheelchair-details" for="wheelchair-yes">
										<input id="wheelchair-yes" type="radio" name="wheelchair" value="Yes">
										Yes
									</label>
									<label class="block-label" for="wheelchair-no">
										<input id="wheelchair-no" type="radio" name="wheelchair" value="No">
										No
									</label> 
								</div>
								<div class="panel js-hidden" id="wheelchair-details">
									<label class="form-label add-padding" for="wheelchair-details">Tell us about the device you use and how often you use it.</label>
									<textarea type="text" class="form-control-3-4" id="aids-appliances-details"></textarea> 
								</div>
							</fieldset>
						</li>
						<li>	
							<div class="form-group panel">  
								<label class="form-label-bold" for="moving-around-other">Tell us more about the difficulties you have physically moving around.</label>
								<textarea type="text" class="form-control-3-4" id="moving-around-other"></textarea>
							</div>  
						</li>
						
				</div> 
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>