				<h1 class="form-title heading-large">
				Payments from abroad and working abroad
				</h1>

				<p>These questions are about the following countries:</p>
				
				<div class="panel-indent">
					<p>Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Gibraltar, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden and Switzerland.</p>
				</div>
				
				<ul>
					<li class="form-group">
						<fieldset class="inline">
				
							<legend class="form-label-bold add-padding" for="claimed-pensions">Have you or anyone in your family claimed or been paid any benefits or pensions from any of these countries? </legend>
							
							<div class="form-group"><!-- 'form-group-compound' -->	
								<label class="block-label" for="claimed-pensions-yes">
									<input id="claimed-pensions-yes" type="radio" name="claimed-pensions" value="Yes">
									Yes
								</label>
								<label class="block-label" for="claimed-pensions-no">
									<input id="claimed-pensions-no" type="radio" name="claimed-pensions" value="No">
									No
								</label>         
							</div>  
						
						</fieldset>
					</li>
					<li class="form-group">
						<fieldset class="inline">
				
							<legend class="form-label-bold add-padding" for="pay-insurance">Do you or anyone in your family work or pay insurance in any of these countries? </legend>
							
							<div class="form-group"><!-- 'form-group-compound' -->	
								<label class="block-label" for="pay-insurance-yes">
									<input id="pay-insurance-yes" type="radio" name="pay-insurance" value="Yes">
									Yes
								</label>
								<label class="block-label" for="pay-insurance-no">
									<input id="pay-insurance-no" type="radio" name="pay-insurance" value="No">
									No
								</label>         
							</div>  
						
						</fieldset>
					</li>
				</ul>
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>