				<h1 class="form-title heading-large">
				Nationality declaration
				</h1>
				
				<ul>
					<li class="form-group">
						<fieldset class="inline">
				
							<legend class="form-label-bold" for="british-citizen">Are you a British citizen?</legend>
					
							<div class="form-group">
								<label class="block-label" for="british-citizen-yes">
									<input id="british-citizen-yes" type="radio" name="british-citizen" value="Yes">
									Yes
								</label>
								<label class="block-label" for="british-citizen-no">
									<input id="british-citizen-no" type="radio" name="british-citizen" value="No">
									No
								</label>  
							</div>
				
						</fieldset>
					</li>
					<li class="form-group">
						<fieldset class="inline">
				
							<legend class="form-label-bold" for="prescence">In the last 2 years, have you been out of the UK for more than 4 weeks?</legend>
					
							<div class="form-group">
								<label class="block-label" for="prescence-yes">
									<input id="prescence-yes" type="radio" name="prescence" value="Yes">
									Yes
								</label>
								<label class="block-label" for="prescence-no">
									<input id="prescence-no" type="radio" name="prescence" value="No">
									No
								</label>  
							</div>
				
						</fieldset>
					</li>
				</ul>
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
				<button class="button">Save</button>