				<h1 class="form-title heading-large">
				Save application
				</h1>

				<p>To save your application make a note of your account number and chosen password.</p>

				<div class="panel-indent">
					<p>Your application will only be saved for 30 days. After 30 days it will be deleted.</p>
				</div>

				<!--js-hidden-->
				<div id="save-app">
				
					<fieldset class="inline">

						<div>		  
							<p class="form-label-bold">Your account number:</p>
							<p>12345678</p>
						</div>
						
						<div class="form-group">	
							<label class="form-label-bold" for="password">Password</label>
							<p class="form-hint">Your password must be 8 characters long</p>
							<input type="text" class="form-control" id="password">	  
						</div>
						
						<div class="form-group">
							<label class="form-label-bold" for="confirm-password">Confirm password</label>
							<input type="text" class="form-control" id="confirm-password">  
						</div>

					 
					</fieldset> 	 	 
				
				</div>
				
				
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Save and continue"> <a href="pip03">I don't want to save my application</a>
				</div>