<label class="block-label" for="pip.radio.allthetime.id" data-target="details">
<input id="pip.radio.allthetime.id" type="radio" name="frequency" {{#frequency.frequencyAll the time}}checked=checked{{/frequency.frequencyAll the time}} value="All the time" aria-controls="details">
All the time
</label>
<label class="block-label" for="pip.radio.morethanhalf.id" data-target="details">
<input id="pip.radio.morethanhalf.id" type="radio" name="frequency" value="More than half the time"  {{#frequency.frequencyMore than half the time}}checked=checked{{/frequency.frequencyMore than half the time}} aria-controls="details">
More than half the time
</label>
<label class="block-label" for="pip.radio.lessthanhalf.id" data-target="details">
<input id="pip.radio.lessthanhalf.id" type="radio" name="frequency" value="Less than half the time" {{#frequency.frequencyLess than half the time}}checked=checked{{/frequency.frequencyLess than half the time}}  aria-controls="details">
Less than half the time
</label>
<label class="block-label" for="pip.radio.noneofthetime.id">
<input id="pip.radio.noneofthetime.id" type="radio" name="frequency" value="None of the time"  {{#frequency.frequencyNone of the time}}checked=checked{{/frequency.frequencyNone of the time}} >
None of the time
</label>
<p class="form-block">or</p>

<label class="block-label" for="pip.radio.own-words.id" data-target="details">
  <input id="pip.radio.own-words.id" type="radio" name="frequency" value="Tell us how often in your own words" {{#frequency.frequencyTell us how often in your own words}}checked=checked{{/frequency.frequencyTell us how often in your own words}} aria-controls="own-words">
  Tell us how often in your own words
</label>
