<label class="block-label" for="pip.radio.allthetime.id" data-target="details">
<input id="pip.radio.allthetime.id" type="radio" name="frequency" value="All the time" aria-controls="details">
All the time
</label>
<label class="block-label" for="pip.radio.morethanhalf.id" data-target="details">
<input id="pip.radio.morethanhalf.id" type="radio" name="frequency" value="More than half the time" aria-controls="details">
More than half the time
</label>
<label class="block-label" for="pip.radio.lessthanhalf.id" data-target="details">
<input id="pip.radio.lessthanhalf.id" type="radio" name="frequency" value="Less than half the time" aria-controls="details">
Less than half the time
</label>
<label class="block-label" for="pip.radio.noneofthetime.id">
<input id="pip.radio.noneofthetime.id" type="radio" name="frequency" value="None of the time">
None of the time
</label>
