				<div class="highlighted-event">
					<em>Your application has been sent</em>
					<p>Your reference is</p>
					<em>B23456C</em>
				</div>

				<h1 class="heading-medium">What you need to do now</h1>

				<p>If possible you should send evidence to support your application, eg care plans, medical reports and prescriptions.</p>
				<p>Write your National Insurance number on everything you send. Documents won't be returned - send copies if possible.</p>
				<p><span class="heading-small">FREEPOST RTEU-HBEC-RGTG</span><br>
				Personal Independence Payment 1<br>
				Mail Handling Site A<br>
				Wolverhampton<br>
				WV98 1AA</p>
				<h1 class="heading-medium">What happens next/h1>
				<p>You’ll get a letter with the outcome of your application, including whether you need to have a face to face assessment and when and where it will happen.</p>
				<p>If you haven’t got your letter by [insert date], phone [xxxxx-xxx-xxx].</p>