<li>
  <div class="form-group">
    <p class="check-question column-third">Side effects</p>
    <p class="column-two-thirds">
      <a href="#" class="show-answer" aria-label="Show my answers for Side effects" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
    </p>
  </div>
  <div class="answered-question-cont ">
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">Do you get any side effects from your medication, treatments or therapy?</p>
      <p class="show-answer column-two-thirds"></p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">Describe any side effects you get.</p>
      <p class="show-answer column-two-thirds"></p>
    </div>
    <div class="column-two-thirds">
      <a href="/pip12/sideEffects?edit=true" class="button change-my-answer" aria-label="Change my answers for Side effects">
Change my answers													</a>
    </div>
  </div>
</li>
