{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
            
			<form action="scenario08" method="get" class="form">
			
				<a href="scenario06" class="example-back-link">Back</a>

				<h1 class="form-title heading-large">
				Money and bills
				</h1>

                <fieldset>
					<legend class="form-label-bold add-padding" for="till">Would your condition cause you difficulty buying something in a shop on your own?</legend>
					<p class="form-hint">This includes knowing what something costs, handling money and counting your change.</p>			
					<div class="form-group">
						<label class="block-label" data-target="till-details" for="till-yes">
							<input id="till-yes" type="radio" name="till" value="Yes">
							Yes
						</label>
                        <label class="block-label" data-target="till-details" for="till-sometimes">
							<input id="till-sometimes" type="radio" name="till" value="Sometimes">
							Sometimes
						</label> 
						<label class="block-label"for="till-no">
							<input id="till-no" type="radio" name="till" value="No">
							No
						</label>   
					</div>
				</fieldset>
                
                <div class="js-hidden panel-indent" id="till-details">
                    <label class="form-label-bold" for="till-details-more">Why?</label>
                    <textarea type="text" class="form-control-3-4" id="till-details-more"></textarea>  
                </div>
                <fieldset>
					<legend class="form-label-bold add-padding" for="bill">Does your condition cause you difficulty or mean you need  help to pay or manage bills?</legend>
					<p class="form-hint">This includes remembering to pay on time, making sure you have enough money and knowing how to pay.</p>			
					<div class="form-group">
						<label class="block-label" data-target="bill-details" for="bill-yes">
							<input id="bill-yes" type="radio" name="bill" value="Yes">
							Yes
						</label>
                        <label class="block-label" data-target="bill-details" for="bill-sometimes">
							<input id="bill-sometimes" type="radio" name="bill" value="Sometimes">
							Sometimes
						</label> 
						<label class="block-label"for="bill-no">
							<input id="bill-no" type="radio" name="bill" value="No">
							No
						</label>   
					</div>
				</fieldset>
                
                <div class="js-hidden panel-indent" id="bill-details">
                    <label class="form-label-bold" for="bill-details-more">Why?</label>
                    <textarea type="text" class="form-control-3-4" id="bill-details-more"></textarea>  
                </div> 
                
                
                <div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>
		
		</div>
		<div class="column-third app">
			{{>includes/nav/side-nav}}
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
