{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

	{{>includes/phase_banner}}
	<div class="grid-row">
		<div class="column-two-thirds">
		
			<form action="s1" method="#" class="form">
			
				<a href="eligibility-s2" class="example-back-link">Back</a>
				
				<h1 class="form-title heading-large">
				Can you get Personal Independence Payment?
				</h1>
				
				
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="eligibility-q3">Do you have long-term ill-health or a disability?</legend>
					
					<div class="form-group"><!-- 'form-group-compound' -->	
						<label class="block-label" for="eligibility-q3-yes" data-target="disability">
							 <input id="eligibility-q3-yes" type="radio" name="eligibility-q3" value="Yes">
							 Yes
						</label>
						<label class="block-label" data-target="validation-no" for="eligibility-q3-no">
							 <input id="eligibility-q3-no" type="radio" name="eligibility-q3" value="No">
							 No
						</label>         
					</div>  
					
					<div class="js-hidden" id="disability"><!-- panel-indent -->
					
						<label class="form-label-bold" for="eligibility-q4">Do you need support to live independently?</label>
						<p class="form-hint">For example, you have difficulties with activities related to ‘daily living’ and/or mobility. Things like:</p>
						
						<ul class="form-hint list-bullet">
							<li>preparing or eating food</li>
							<li>washing, bathing and using the toilet</li>
							<li>dressing and undressing</li>
							<li>reading and communicating</li>
							<li>managing your medicines or treatments</li>
							<li>making decisions about money</li>
							<li>engaging with other people</li>
						</ul>
					
						<div class="form-group"><!-- 'form-group-compound' -->	
							<label class="block-label" data-target="validation-continue" for="eligibility-q4-yes">
								<input id="eligibility-q4-yes" type="radio" name="eligibility-q4" value="Yes">
								Yes
							</label>
							<label class="block-label" data-target="validation-no" for="eligibility-q4-no">
								<input id="eligibility-q4-no" type="radio" name="eligibility-q4" value="No">
								No
							</label>         
						</div>  
				
					</div>
					
				</fieldset>
				
				<div class="js-hidden" id="validation-no">
				
					<div class="form-group">
						<h3 class="heading-medium">Based on your answers you can't get Personal Independence Payment.</h3>
						<p>PIP is for people with long term health conditions that need support to live independently.</p>
					</div>
					
					<p><a href="start" class="button">Finished</a></p>
				
				</div>
				
				
				<div class="js-hidden form-group" id="validation-continue">	
					<h3 class="heading-medium">Based on your answers you may be able to get Personal Independence Payment</h3>
					
					<p>You will have to explain and provide evidence of the details of your condition and how this affects you.</p>
					
					<input type="submit" class="button" value="Start application">
				</div>
			
			</form>

		</div>
		<div class="column-third">
		
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}    