{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="guard-question06" method="#" class="form">
			
				<a href="guard-question04" class="example-back-link">Back</a>
				
				<h1 class="form-title heading-large">
				Your day-to-day life
				</h1>
				<ul>
					<li>
						<fieldset>
						
							<legend class="form-label-bold" for="anxiety-stress">Does being outside your home make you feel nervous, anxious or stressed?</legend>

							<p class="hint-text">This includes worrying about getting from one place to another or if you need help planning a journey.</p>
							
							<div class="form-group">
								<label class="block-label" data-target="positive" for="anxiety-stress-always">
									<input id="anxiety-stress-always" type="radio" name="anxiety-stress" value="Always">
									Always
								</label>
								<label class="block-label" data-target="positive" for="anxiety-stress-sometimes">
									<input id="anxiety-stress-sometimes" type="radio" name="anxiety-stress" value="Sometimes">
									Sometimes
								</label>   
								<label class="block-label" data-target="negative" for="anxiety-stress-never">
									<input id="anxiety-stress-never" type="radio" name="anxiety-stress" value="Never">
									Never
								</label> 
							</div>
						
						</fieldset>
					</li>
				</ul>
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group js-hidden" id="negative">
					<input type="submit" class="button" value="Continue">
				</div>

				<div class="form-group js-enabled add-padding" id="positive">
					<p><a href="stub05" class="button">Continue</a></p> 
				</div>
			
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
