{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								<a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								<a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								<a href="make-a-claim" title="Part 3: Make a claim">Make a claim</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								<a href="what-happens-next" title="Part 4: What happens next">What happens next</a>
							</li>
							<li class="font-xsmall">
								<a href="report-a-change" title="Part 5: Report a change in circumstances">Report a change in circumstances</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">3. Make a claim</h1>
		    </header>
			<article>

				<p>To apply you'll need:</p> 
				<ul class="list-bullet">
					<li>your National Insurance number</li>
					<li>details of any healthcare professionals you've seen or who have been involved with your care</li>
					<li>to give details of how your condition affects your daily life</li>
				</ul>
				
				<p>The application can take up to 2 hours.</p>
				
				<p>If you already get Disability Living Allowance then wait until you get a letter telling you to apply for <abbr title="Personal Independence Payment">PIP</abbr>.</p>

				<div class="panel-indent">
					<p>If you're terminally ill and have a life expectancy under 6 months you can get your claim processed faster by phoning 0800 917 2222.</p>
				</div>
				
				<p class="get-started">
					<a class="button button-get-started" href="before-you-start-v2" >Start now</a>
				</p>
				
				<h2 class="heading-medium">If you can't apply online</h2>
				
				<p>You can apply by telephone.</p>
				
				<p>Telephone: 0800 917 2222  <br />
				Monday to Friday, 8am to 6pm<br />
				<a href="http://www.gov.uk/call-charges">Find out about call charges</a></p>
		     </article>
	        
	    </div>
	</div>
	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>
		
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>
					
					
					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Benefits</h2>
			
			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>
			
			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>
			
			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>


	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
