{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								<a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								<a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								<a href="make-a-claim" title="Part 3: Make a claim">Make a claim</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								<a href="what-happens-next" title="Part 4: What happens next">What happens next</a>
							</li>
							<li class="font-xsmall">
								<a href="report-a-change" title="Part 5: Report a change in circumstances">Report a change in circumstances</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. Overview</h1>
		    </header>
			<article>
				<p>You can get Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) of &pound;21.55 to &pound;138.05 a week to help with your costs of living if:</p>
				
				<ul class="list-bullet">
					<li>you're aged 16 to 64</li>
					<li>you have long-term (over 9 months) ill-health or a disability that affects your ability to live independently</li>
				</ul>

				<div class="panel-indent">
					<p>If you already get Disability Living Allowance then you'll be told when to apply for <abbr title="Personal Independence Payment">PIP</abbr> - don't apply until you're asked to.</p>
				</div>

				<p>You must report any <a href="report-a-change" title="report a change in your circumstances">changes in your circumstances</a> if you already get <abbr title="Personal Independence Payment">PIP</abbr>.</p>
				
				<h2 class="heading-medium">What you'll get</h2>
				
				<p><abbr title="Personal Independence Payment">PIP</abbr> is split into two parts (known as components) one for daily living costs and one for costs if you have problems with mobility. You can be awarded one or both components, depending on your particular needs. </p>
				
				<table>
					<thead>
						<tr>
							<th>Daily living component</th>
							<th>Weekly rate</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Standard</td>
							<td>£54.45</td>
						</tr>
						<tr>
							<td>Enhanced</td>
							<td>£81.30</td>
						</tr>
					</tbody>
				</table>
				
				<table>
					<thead>
						<tr>
							<th>Mobility component</th>
							<th>Weekly rate</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Standard</td>
							<td>£21.55</td>
						</tr>
						<tr>
							<td>Enhanced</td>
							<td>£56.75</td>
						</tr>
					</tbody>
				</table>

				<p class="add-padding">If you're awarded enhanced mobility you can also get a reduction in car tax. Anyone who cares for you may be eligible for Carer's Allowance.</p>
			</article>
	        
	    </div>
	</div>
	
	
	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>
		
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>
					
					
					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Benefits</h2>
			
			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>
			
			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>
			
			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
