{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
			<form action="pip2" method="#" class="form">
			
				<a href="guard-page" class="example-back-link">Back</a>
				
				<div class="section-progress">
				Step 2 of 5
				</div>
				
				<h1 class="form-title heading-large">
				Preparing and cooking a meal
				</h1>
				<fieldset>
				
					<legend class="form-label-bold add-padding" for="preparing-meal">In a typical week how often could you make yourself a hot meal without help or special equipment?</legend>
					
					<div class="form-group">
						<label class="block-label" for="preparing-meal-everyday">
							<input id="preparing-meal-everyday" type="radio" name="preparing-meal" value="Everyday">
							Every day
						</label>
						<label class="block-label" data-target="preparing-food-details" for="preparing-meal-3or4">
							<input id="preparing-meal-3or4" type="radio" name="preparing-meal" value="2 or 4 times a week">
							3 or 4 days a week
						</label> 
						<label class="block-label" data-target="preparing-food-details" for="preparing-meal-occasionally">
							<input id="preparing-meal-occasionally" type="radio" name="preparing-meal" value="Occasionally">
							Occasionally
						</label> 
						<label class="block-label" data-target="preparing-food-details" for="preparing-meal-never">
							<input id="preparing-meal-never" type="radio" name="preparing-meal" value="Never">
							Never
						</label>  
					</div>
				
				</fieldset>
				
				<ul class="js-hidden" id="preparing-food-details">
					<li>
						<fieldset>
						
							<legend class="form-label-bold add-padding" for="conventional-cooker">Can you use an oven or hob?</legend>
							
							<div class="form-group">
								<label class="block-label" for="conventional-cooker-everyday">
									<input id="conventional-cooker-everyday" type="radio" name="conventional-cooker" value="Everyday">
									Yes
								</label>
								<label class="block-label" for="conventional-cooker-2or3">
									<input id="conventional-cooker-2or3" type="radio" name="conventional-cooker" value="2 or 3 times a week">
									No
								</label> 
								<label class="block-label" for="conventional-cooker-occasionally">
									<input id="conventional-cooker-occasionally" type="radio" name="conventional-cooker" value="Occasionally">
									Sometimes
								</label>  
							</div>
						
						</fieldset>
					</li>
					<li>
						<fieldset>
						
							<legend class="form-label-bold add-padding" for="microwave">Can you use a microwave?</legend>
							
							<div class="form-group">
								<label class="block-label" for="microwave-everyday">
									<input id="microwave-everyday" type="radio" name="microwave" value="Everyday">
									Yes
								</label>
								<label class="block-label" for="microwave-2or3">
									<input id="microwave-2or3" type="radio" name="microwave" value="2 or 3 times a week">
									No
								</label> 
								<label class="block-label" for="microwave-occasionally">
									<input id="microwave-occasionally" type="radio" name="microwave" value="Occasionally">
									Sometimes
								</label>  
							</div>
						
						</fieldset>
					</li>
					<li>
						<fieldset>
						
							<legend class="form-label-bold add-padding" for="prompt">Do you need to be reminded to cook a meal?</legend>
							
							<div class="form-group">
								<label class="block-label" for="prompt-everyday">
									<input id="prompt-everyday" type="radio" name="prompt" value="Everyday">
									Yes
								</label>
								<label class="block-label" for="prompt-2or3">
									<input id="prompt-2or3" type="radio" name="prompt" value="2 or 3 times a week">
									No
								</label> 
								<label class="block-label" for="prompt-occasionally">
									<input id="prompt-occasionally" type="radio" name="prompt" value="Occasionally">
									Sometimes
								</label> 
							</div>
						
						</fieldset>
					</li>
					<li>
						<fieldset>
						
							<legend class="form-label-bold add-padding" for="supervision">Can you cook a meal without someone there to help you?</legend>
							
							<div class="form-group">
								<label class="block-label" for="supervision-everyday">
									<input id="supervision-everyday" type="radio" name="supervision" value="Everyday">
									Yes
								</label>
								<label class="block-label" for="supervision-2or3">
									<input id="supervision-2or3" type="radio" name="supervision" value="2 or 3 times a week">
									No
								</label> 
								<label class="block-label" for="supervision-occasionally">
									<input id="supervision-occasionally" type="radio" name="supervision" value="Occasionally">
									Sometimes
								</label> 
							</div>
						
						</fieldset>
					</li>
				</ul>
			

				<div class="form-group">
					<p class="form-label-bold" for="another-person">Give any more information about difficulties you have preparing or cooking food, <br>including how often you need help or special equipment.</p>
					<details>
						<summary><span class="summary">Help for this part of the form</span></summary>
						<div class="panel-indent">
							<p>Tell us more about:</p>
							<ul class="list-bullet">
								<li>If you can't do this safely, to an acceptable standard, as often as you need to and in a reasonable time.</li>
								<li>If you need help from another person, tell us what kind (for example whether they need to remind or motivate you to cook, plan the task for you, supervise you while you are doing it, physically help you or prepare all your food for you).</li>
								<li>If you use aids and appliances, tell us what type they are and how you use them.</li>
								<li>If you can only cook using a microwave.</li>
								<li>If your ability to do it varies, tell us in what way and how often - for example, telling us about good and bad days or how it varies throughout the day.</li>
								<li>If you can do it but it takes you a long time</li>
								<li>if you have side effects from carrying out the activity - either during or after the activity - like pain, breathlessness or tiredness.</li>
							</ul>
						</div>
					</details>
					<textarea type="text" class="form-control-3-4"></textarea>  
				</div>

				
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			
			</form>
		</div>
		
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
