{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">

			<form action="pip3" method="#" class="form">
			
				<a href="pip1" class="example-back-link">Back</a>
				
				<div class="section-progress">
				Step 3 of 5
				</div>
				
				<h1 class="form-title heading-large">
				Managing treatments 
				</h1>

				<fieldset>
				
					<legend class="form-label-bold add-padding" for="monitor-health">How often do you need help to monitor your health condition, take medication or manage your treatments at home?</legend>
					
					<div class="form-group">
						<label class="block-label" data-target="treatment-details" for="monitor-health-everyday">
							<input id="monitor-health-everyday" type="radio" name="monitor-health" value="Everyday">
							Every day
						</label>
						<label class="block-label" data-target="treatment-details" for="monitor-health-2or3">
							<input id="monitor-health-2or3" type="radio" name="monitor-health" value="2 or 3 times a week">
							3 or 4 times a week
						</label> 
						<label class="block-label" data-target="treatment-details" for="monitor-health-occasionally">
							<input id="monitor-health-occasionally" type="radio" name="monitor-health" value="Occasionally">
							Occasionally
						</label> 
						<label class="block-label" for="monitor-health-never">
							<input id="monitor-health-never" type="radio" name="monitor-health" value="Never">
							Never
						</label>  
					</div>
				
				</fieldset>

				
				<ul class="js-hidden" id="treatment-details">
					<li>
						<fieldset class="inline">
							
							<legend class="form-label-bold" for="aids-appliances">Do you use an aid or appliances to manage or take your treatment?</legend>
							<p class="hint-text">For example, dosette box for tablets.</p>

							<div class="form-group">
								<label class="block-label" data-target="aids-appliances-details" for="aids-appliances-yes">
									<input id="aids-appliances-yes" type="radio" name="aids-appliances" value="Yes">
									Yes
								</label>
								<label class="block-label" for="aids-appliances-no">
									<input id="aids-appliances-no" type="radio" name="aids-appliances" value="No">
									No
								</label>  
							</div>  

							<!--js-hidden / details-->
							
							<div class="panel js-hidden" id="aids-appliances-details">
								<label class="form-label" for="aids-appliances-details-ta">Tell us what type they are and how you use them</label>
								<textarea type="text" class="form-control-3-4" name="aids-appliances-details" id="aids-appliances-details-ta"></textarea> 
							</div>

						</fieldset>
					</li>
					<li>
						<fieldset class="inline">
							
							<legend class="form-label-bold add-padding" for="prompting">Do you need prompting or reminding to take your treatment?</legend>

							<div class="form-group">
								<label class="block-label" data-target="prompting-details" for="prompting-yes">
									<input id="prompting-yes" type="radio" name="prompting" value="Yes">
									Yes
								</label>
								<label class="block-label" for="prompting-no">
									<input id="prompting-no" type="radio" name="prompting" value="No">
									No
								</label>  
							</div>  

							<!--js-hidden / details-->
							
							<div class="panel js-hidden" id="prompting-details">
								<label class="form-label" for="prompting-details-ta">Tell us about what happens if nobody reminds you</label>
								<textarea type="text" class="form-control-3-4" name="prompting-details" id="prompting-ta"></textarea> 
							</div>

						</fieldset>
					</li>
					<li>
						<fieldset class="inline">
							
							<legend class="form-label-bold add-padding" for="help">Do you require help to take your treatment?</legend>

							<div class="form-group">
								<label class="block-label" data-target="help-details" for="help-yes">
									<input id="help-yes" type="radio" name="help" value="Yes">
									Yes
								</label>
								<label class="block-label" for="help-no">
									<input id="help-no" type="radio" name="help" value="No">
									No
								</label>  
							</div>  

							<!--js-hidden / details-->
							
							<div class="panel js-hidden" id="help-details">
								<label class="form-label" for="help-details-ta">Tell us what kind of help you need</label>
								<textarea type="text" class="form-control-3-4" name="help-details" id="help-ta"></textarea> 
							</div>

						</fieldset>
					</li>
				</ul>
				
				<ul>
					<li>
						<fieldset>
							<div class="form-group">  
								<label class="form-label-bold" for="more-info">Tell us more about the difficulties or help you need to monitor or take your treatment</label>
								<p class="form-hint"> For example, tell us:</p>
								<ul class="form-hint list-bullet">
									<li>If you can’t do this safely, as often as you need to, or in a reasonable time.</li>
									<li>If you need help from another person, tell us what kind (for example whether they need to prompt, remind or encourage you to manage your treatments, supervise you when you take medication or whether they put tablets in your mouth).</li>
									<li>If your ability to monitor or manage your treatments varies, tell us in what way and how often - for example
									telling us about good days and bad days or how it varies throughout the day.</li>
									<li>If you can do it but it takes you a long time.</li>
									<li>If you have side effects from carrying out the activity - either during or after the activity like pain, breathlessness or tiredness.</li>
								</ul>
								<textarea type="text" class="eat-drink-other form-control-3-4" id="more-info"></textarea>    
							</div>
						</fieldset>
					</li>	
				</ul>


				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			
			</form>
		
		
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
