{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="s4" method="#" class="form">
			
				<a href="s2" class="example-back-link">Back</a>
				
				<div class="section-progress">
				Step 3 of 17
				</div>
				
				<h1 class="form-title heading-large">
				Payments from abroad and working abroad
				</h1>
				
				<p>These questions are about the following countries:</p>
				
				<div class="panel-indent">
					<p>Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Gibraltar, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden and Switzerland.</p>
				</div>
				
				
				<!-- Have you or anyone in your family claimed or been paid any benefits or pensions from any of these countries?  -->
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="claimed-pensions">Have you or anyone in your family claimed or been paid any benefits or pensions from any of these countries? </legend>
					
					<div class="form-group"><!-- 'form-group-compound' -->	
						<label class="block-label" for="claimed-pensions-yes">
							<input id="claimed-pensions-yes" type="radio" name="claimed-pensions" value="Yes">
							Yes
						</label>
						<label class="block-label" for="claimed-pensions-no">
							<input id="claimed-pensions-no" type="radio" name="claimed-pensions" value="No">
							No
						</label>         
					</div>  
				
				</fieldset>
				
				<!-- Do you or anyone in your family work or pay insurance in any of these countries?  -->
				<fieldset class="inline">
				
					<legend class="form-label-bold add-padding" for="pay-insurance">Do you or anyone in your family work or pay insurance in any of these countries? </legend>
					
					<div class="form-group"><!-- 'form-group-compound' -->	
						<label class="block-label" for="pay-insurance-yes">
							<input id="pay-insurance-yes" type="radio" name="pay-insurance" value="Yes">
							Yes
						</label>
						<label class="block-label" for="pay-insurance-no">
							<input id="pay-insurance-no" type="radio" name="pay-insurance" value="No">
							No
						</label>         
					</div>  
				
				</fieldset>
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			
			</form>
		  
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
