{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-large">
	      Personal Independence Payment
	    </h1>
	    
	    <div class="inner-block">
	      
		    <p>Personal Independence Payment (PIP) helps with some of the extra costs caused by long-term ill-health or a disability if you’re aged 16 to 64.</p>
		    
		    <p>You could get between £21.55 and £138.05 a week.</p>
		    
		    <p>The rate depends on how your condition affects you, not the condition itself.</p>
		    
		    <P>You’ll need an assessment to work out the level of help you get. Your award will be regularly reassessed to make sure you’re getting the right support.</p>
		    
		    <p><abbr title="Personal Independence Payment">PIP</abbr> started to replace Disability Living Allowance (<abbr title="Disability Living Allowance">DLA</abbr>) for people aged 16 to 64 from 8 April 2013. </p>
		                    
		    <h2 class="heading-medium">You will need</h2>
		    
		     <p>Before you apply, make sure you have:</p> 
		     <ul class="list-bullet">
		    	 <li>your National Insurance number</li>
		    	 <li>your doctor or health worker’s name and contact details</li>
		    	 <li>details of any time you’ve spent abroad
		    	 <li>details if you're in hospital, a hospice, residential or nursing care</li>
		     </ul>
		     
		     <p>You will have to explain the details of your condition and how this affects you. You may be asked to send further evidence about your condition when making your application.</p>
		     
		     <p><span class="heading-small">If you’re terminally ill</span> you can get PIP more quickly if you’re not expected to live more than 6 months. You should have a DS1500 form from your doctor or health worker - this means you won't need a face-to-face assessment.</p>
		    
		     <p class="get-started" style="padding-top:  1em;">
		     	<a class="button button-get-started" href="eligibility-s1">Apply now</a>
		     </p>
		     
		     
		     <h2 class="heading-medium">Other ways to apply</h2>
		     
		     <p>If you can’t use the online service, you can apply by calling the Department for Work and Pensions (DWP).</p>
		     
		     <p>
		     Telephone: 0800 917 2222  <br>
		     <!--Textphone: 0800 917 7777  <br>-->
		     Monday to Friday, 8am to 6pm<br><a href="http://www.gov.uk/call-charges">Find out about call charges</a></p>
	        
	    </div>
	</div>
	<div class="column-third">
		
	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
