{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

	{{>includes/phase_banner}}
	
	<!--<a href="s4" class="example-back-link">Back</a>-->
	
	<h1 class="form-title heading-large">
	Thank you
	</h1>
	
	<h2 class="heading-medium">What to do next</h2>
	
	<p>Send photocopies of any evidence or information that explains your circumstances. This might include:</p>
	<ul class="list-bullet">
		<li>prescription lists
		<li>care plans</li>
		<li>reports or information from professionals who help you, such as a GP, hospital
		doctor, specialist nurse, community psychiatric nurse, occupational therapist, social
		worker, counsellor, or support worker.</li>
	</ul>
	
	<p>Send this to:</p>
	
	<p>[address]</p>
	
	<p>If you receive any additional evidence or information which may help with your claim at a later date, please send this to us as soon as you can.</p>
	
	<h2 class="heading-medium">What happens next</h2>
	
	<p>[content]</p>
	
	<div class="form-group">
		<a type="submit" class="button" href="start">Finished</a>
	</div>
	

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
