{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="page-container" role="main">

{{>includes/phase_banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-number grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								<a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								<a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								<a href="make-a-claim" title="Part 3: Make a claim">Make a claim</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								<a href="what-happens-next" title="Part 4: What happens next">What happens next</a>
							</li>
							<li class="font-xsmall">
								<a href="report-a-change" title="Part 5: Report a change in circumstances">Report a change in circumstances</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">4. What happens next</h1>
		    </header>
			<article>
				<p>You must send written evidence to support your application, such as care plans or health assessments.</p>
				
				<p>You’ll be assessed to work out the level of help you get - you'll get a letter telling you when this will take place.</p>

				<p>Assessments can be:</p>
				
				<ul class="list-bullet">
					<li>based on the evidence you send as part of your application - you won't need to meet anyone face to face</li>
					<li>carried out at an assessment centre</li>
					<li>carried out in your home</li>
				</ul>
				
				<p>You'll get a decision letter within 3 weeks of your assessment.</p>
				
				<p>You can appeal if your application is rejected. Details of how to appeal will be in your decision letter. </p>
			</article>
	        
	    </div>
	</div>
	
	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>
		
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>
					
					
					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Benefits</h2>
			
			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>
			
			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>
			
			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>
		
		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
