{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
  <form id="check-my-answers" action="check-and-change" method="post" class="form">
    <h1 class="form-title heading-large">{{>includes/pages/progress}}Check your answers </h1>
    <p class="lede">You can check all the answers you’ve given and change them if you need to.</p>

    <div class="grid-row show-all">
      <p class="column-two-thirds">
        <a href="#" class="show-all" data-action="close" data-open-text="Show all my answers" data-close-text="Hide all my answers">Hide all my answers</a>
      </p>
    </div>

    <div class="grid-row form-group">
      <section>
        <ul class="check-and-change">
          {{>pip14a/check-and-change/helper}}
          {{>pip14a/check-and-change/nationality}}
          {{>pip14a/check-and-change/payments}}
          {{>pip14a/check-and-change/conditions}}
          {{>pip14a/check-and-change/medications}}
          {{>pip14a/check-and-change/ManageMedications}}
          {{>pip14a/check-and-change/treatments}}
          {{>pip14a/check-and-change/manageTreatments}}
          {{>pip14a/check-and-change/sideEffects}}



          <li>
            <div class="form-group">
              <p class="check-question column-third">Changes in your condition</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Payments from abroad and working abroad" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Do the effects of your condition change or vary?</p>
                <p class="show-answer column-two-thirds">{{#conditioneffects.conditioneffects}}{{conditioneffects.conditioneffects}}{{/conditioneffects.conditioneffects}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Describe roughly how often the effects of your condition change or vary.</p>
                <p class="show-answer column-two-thirds">{{#conditioneffects.conditioneffectsYes}}{{conditioneffects.condition-effects-often}}{{/conditioneffects.conditioneffectsYes}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How the effects of your condition change or vary.</p>
                <p class="show-answer column-two-thirds">{{#conditioneffects.conditioneffectsYes}}{{conditioneffects.condition-effects-how}}{{/conditioneffects.conditioneffectsYes}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/conditionAffects?edit=true" class="button change-my-answer" aria-label="Change my answers for Payments from abroad and working abroad">
  Change my answers									</a>
              </div>
            </div>
          </li>


          <li>
            <div class="form-group">
              <p class="check-question column-third">Monitoring your condition</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Payments from abroad and working abroad" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Has a medical professional told you that your condition is likely to change and needs to be monitored?</p>
                <p class="show-answer column-two-thirds">{{#hcpcondition.monitored}}{{hcpcondition.monitored}}{{/hcpcondition.monitored}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/hcp-condition?edit=true" class="button change-my-answer" aria-label="Change my answers for Payments from abroad and working abroad">
  Change my answers									</a>
              </div>
            </div>
          </li>


          <li>
            <div class="form-group">
              <p class="check-question column-third">Help monitoring your condition</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Payments from abroad and working abroad" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Do you rely on someone else to help monitor your condition?</p>
                <p class="show-answer column-two-thirds">{{#hcpcondition2.conditionEffects}}{{hcpcondition2.conditionEffects}}{{/hcpcondition2.conditionEffects}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why you need someone else to monitor your condition.</p>
                <p class="show-answer column-two-thirds">{{#hcpcondition2.condition-effects-often}}{{hcpcondition2.condition-effects-often}}{{/hcpcondition2.condition-effects-often}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How someone else monitors your condition.</p>
                <p class="show-answer column-two-thirds">{{#hcpcondition2.condition-effects-how}}{{hcpcondition2.condition-effects-how}}{{/hcpcondition2.condition-effects-how}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/hcp-condition-2?edit=true" class="button change-my-answer" aria-label="Change my answers for Payments from abroad and working abroad">
  Change my answers									</a>
              </div>
            </div>
          </li>



          <li>
            <div class="form-group">
              <p class="check-question column-third">Professionals who know about your condition</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Professionals who know about your condition" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="column-two-thirds">
                <a href="/pipDigital/healthcare/healthcareprofessional" class="button change-my-answer" aria-label="Change my answers for Professionals who know about your condition">
  Change my answers										</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Medical information</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Medical information" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question">
                <p class="question form-label column-third">Choose what you'll send:</p>

                <ul class="show-answer list-bullet column-two-thirds">


                </ul>

              </div>
              <div class="column-two-thirds">
                <a href="/pipDigital/user-data/submitEvidence" class="button change-my-answer" aria-label="Change my answers for Medical information">
  Change my answers										</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="heading-medium">You and your home</h3>
        <ul class="check-and-change">
          <li>
            <div class="form-group">
              <p class="check-question column-third">Aids and adaptations</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Aids and adaptations" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question">
                <p class="question form-label column-third">Where do you have to use aids, adaptations or Something else to make things easier for you?</p>

                <ul class="show-answer list-bullet column-two-thirds">
                </ul>

              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">List Something else you have with you all or most of the time to make things easier for you.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pipDigital/user-data/specialAids" class="button change-my-answer" aria-label="Change my answers for Aids and adaptations">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Getting around</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Getting around" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you getting around your home?</p>
                <p class="show-answer column-two-thirds">{{#gettingAround.frequency}}{{gettingAround.frequency}}{{/gettingAround.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you getting around your home.</p>
                <p class="show-answer column-two-thirds">{{#gettingAround.detailsWhy}}{{gettingAround.detailsWhy}}{{/gettingAround.detailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you get around your home at the moment.</p>
                <p class="show-answer column-two-thirds">{{#gettingAround.detailsHow}}{{gettingAround.detailsHow}}{{/gettingAround.detailsHow}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/gettingAround?edit=true" class="button change-my-answer" aria-label="Change my answers for Getting around">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Seeing</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Seeing" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect your sight, which isn't helped by wearing glasses or contact lenses?</p>
                <p class="show-answer column-two-thirds">{{#seeing.frequency}}{{seeing.frequency}}{{/seeing.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you sight.</p>
                <p class="show-answer column-two-thirds">{{#seeing.detailsWhy}}{{seeing.detailsWhy}}{{/seeing.detailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you see things at the moment.</p>
                <p class="show-answer column-two-thirds">{{#seeing.detailsHow}}{{seeing.detailsHow}}{{/seeing.detailsHow}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/seeing?edit=true" class="button change-my-answer" aria-label="Change my answers for Seeing">
  Change my answers													</a>
              </div>
            </div>
          </li>

          <li>
            <div class="form-group">
              <p class="check-question column-third">Hearing</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Hearing" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect your hearing?</p>
                <p class="show-answer column-two-thirds">{{#hearing.frequency}}{{hearing.frequency}}{{/hearing.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects your hearing.</p>
                <p class="show-answer column-two-thirds">{{#hearing.detailsWhy}}{{hearing.detailsWhy}}{{/hearing.detailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you know what's being said at the moment.</p>
                <p class="show-answer column-two-thirds">{{#hearing.detailsHow}}{{hearing.detailsHow}}{{/hearing.detailsHow}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/hearing?edit=true" class="button change-my-answer" aria-label="Change my answers for Hearing">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Speaking</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Speaking" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you speaking</p>
                <p class="show-answer column-two-thirds">{{#speaking.frequency}}{{speaking.frequency}}{{/speaking.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you speaking.</p>
                <p class="show-answer column-two-thirds">{{#speaking.detailsWhy}}{{speaking.detailsWhy}}{{/speaking.detailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you communicate at the moment.</p>
                <p class="show-answer column-two-thirds">{{#speaking.detailsHow}}{{speaking.detailsHow}}{{/speaking.detailsHow}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/speaking?edit=true" class="button change-my-answer" aria-label="Change my answers for Speaking">
  Change my answers													</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="heading-medium">Caring for yourself</h3>
        <ul class="check-and-change">
          <li>
            <div class="form-group">
              <p class="check-question column-third">Getting up</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Getting up" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              {{^gettingUp.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you getting up and out of bed?</p>
                <p class="show-answer column-two-thirds">{{#gettingUp.frequency}}{{gettingUp.frequency}}{{/gettingUp.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you getting up and out of bed.</p>
                <p class="show-answer column-two-thirds">{{^gettingUp.frequencyNone of the time}}{{gettingUp.detailsWhy}}{{/gettingUp.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you get up and out of bed at the moment.</p>
                <p class="show-answer column-two-thirds">{{^gettingUp.frequencyNone of the time}}{{gettingUp.detailsHow}}{{/gettingUp.frequencyNone of the time}}</p>
              </div>
              {{/gettingUp.frequencyTell us how often in your own words}} {{#gettingUp.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">How often.</p>
                <p class="show-answer column-two-thirds">{{#gettingUp.ownWords}}{{gettingUp.ownWords}}{{/gettingUp.ownWords}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you speaking.</p>
                <p class="show-answer column-two-thirds">{{#gettingUp.ownWordsDetailsWhy}}{{gettingUp.ownWordsDetailsWhy}}{{/gettingUp.ownWordsDetailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you communicate at the moment.</p>
                <p class="show-answer column-two-thirds">{{#gettingUp.ownWordsDetailsHow}}{{gettingUp.ownWordsDetailsHow}}{{/gettingUp.ownWordsDetailsHow}}</p>
              </div>
              {{/gettingUp.frequencyTell us how often in your own words}}
              <div class="column-two-thirds">
                <a href="/pip12/gettingUp?edit=true" class="button change-my-answer" aria-label="Change my answers for Getting up">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Using the toilet</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Using the toilet" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              {{^toilet.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you using the toilet?</p>
                <p class="show-answer column-two-thirds">{{#toilet.frequency}}{{toilet.frequency}}{{/toilet.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you using the toilet.</p>
                <p class="show-answer column-two-thirds">{{^toilet.frequencyNone of the time}}{{toilet.detailsWhy}}{{/toilet.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you use the toilet at the moment.</p>
                <p class="show-answer column-two-thirds">{{^toilet.frequencyNone of the time}}{{toilet.detailsHow}}{{/toilet.frequencyNone of the time}}</p>
              </div>
              {{/toilet.frequencyTell us how often in your own words}} {{#toilet.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">How often.</p>
                <p class="show-answer column-two-thirds">{{#toilet.ownWords}}{{toilet.ownWords}}{{/toilet.ownWords}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you using the toilet.</p>
                <p class="show-answer column-two-thirds">{{#toilet.ownWordsDetailsWhy}}{{toilet.ownWordsDetailsWhy}}{{/toilet.ownWordsDetailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you use the toilet at the moment.</p>
                <p class="show-answer column-two-thirds">{{#toilet.ownWordsDetailsHow}}{{toilet.ownWordsDetailsHow}}{{/toilet.ownWordsDetailsHow}}</p>
              </div>
              {{/toilet.frequencyTell us how often in your own words}}
              <div class="column-two-thirds">
                <a href="/pip12/toilet?edit=true" class="button change-my-answer" aria-label="Change my answers for Using the toilet">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Washing yourself</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Washing yourself" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              {{^washing.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you washing your hair or any part of your body?</p>
                <p class="show-answer column-two-thirds">{{#washing.frequency}}{{washing.frequency}}{{/washing.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you washing your hair or any part of your body.</p>
                <p class="show-answer column-two-thirds">{{^washing.frequencyNone of the time}}{{washing.detailsWhy}}{{/washing.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you wash your hair and body at the moment.</p>
                <p class="show-answer column-two-thirds">{{^washing.frequencyNone of the time}}{{washing.detailsHow}}{{/washing.frequencyNone of the time}}</p>
              </div>
              {{/washing.frequencyTell us how often in your own words}} {{#washing.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">How often.</p>
                <p class="show-answer column-two-thirds">{{#washing.ownWords}}{{washing.ownWords}}{{/washing.ownWords}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you washing your hair or any part of your body.</p>
                <p class="show-answer column-two-thirds">{{#washing.ownWordsDetailsWhy}}{{washing.ownWordsDetailsWhy}}{{/washing.ownWordsDetailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you wash your hair and body at the moment.</p>
                <p class="show-answer column-two-thirds">{{#washing.ownWordsDetailsHow}}{{washing.ownWordsDetailsHow}}{{/washing.ownWordsDetailsHow}}</p>
              </div>
              {{/washing.frequencyTell us how often in your own words}}
              <div class="column-two-thirds">
                <a href="/pip12/washing?edit=true" class="button change-my-answer" aria-label="Change my answers for Washing yourself">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Getting dressed</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Getting dressed" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              {{^gettingDressed.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you getting dressed?</p>
                <p class="show-answer column-two-thirds">{{#gettingDressed.frequency}}{{gettingDressed.frequency}}{{/gettingDressed.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you getting dressed.</p>
                <p class="show-answer column-two-thirds">{{^gettingDressed.frequencyNone of the time}}{{gettingDressed.detailsWhy}}{{/gettingDressed.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you get dressed at the moment.</p>
                <p class="show-answer column-two-thirds">{{^gettingDressed.frequencyNone of the time}}{{gettingDressed.detailsHow}}{{/gettingDressed.frequencyNone of the time}}</p>
              </div>
              {{/gettingDressed.frequencyTell us how often in your own words}} {{#gettingDressed.frequencyTell us how often in your own words}}
              <div class="answered-question  ">
                <p class="question form-label column-third">How often.</p>
                <p class="show-answer column-two-thirds">{{#gettingDressed.ownWords}}{{gettingDressed.ownWords}}{{/gettingDressed.ownWords}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you getting dressed.</p>
                <p class="show-answer column-two-thirds">{{#gettingDressed.ownWordsDetailsWhy}}{{gettingDressed.ownWordsDetailsWhy}}{{/gettingDressed.ownWordsDetailsWhy}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you get dressed at the moment.</p>
                <p class="show-answer column-two-thirds">{{#gettingDressed.ownWordsDetailsHow}}{{gettingDressed.ownWordsDetailsHow}}{{/gettingDressed.ownWordsDetailsHow}}</p>
              </div>
              {{/gettingDressed.frequencyTell us how often in your own words}}
              <div class="column-two-thirds">
                <a href="/pip12/gettingDressed?edit=true" class="button change-my-answer" aria-label="Change my answers for Getting dressed">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Preparing and cooking food</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Preparing and cooking food" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you preparing or cooking a hot meal from scratch?</p>
                <p class="show-answer column-two-thirds">{{#preparingandcookingfood.frequency}}{{preparingandcookingfood.frequency}}{{/preparingandcookingfood.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you preparing or cooking a hot meal from scratch.</p>
                <p class="show-answer column-two-thirds">{{^preparingandcookingfood.frequencyNone of the time}}{{preparingandcookingfood.detailsWhy}}{{/preparingandcookingfood.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you cook and prepare a hot meal from scratch at the moment.</p>
                <p class="show-answer column-two-thirds">{{^preparingandcookingfood.frequencyNone of the time}}{{preparingandcookingfood.detailsHow}}{{/preparingandcookingfood.frequencyNone of the time}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/preparingandcookingfood?edit=true" class="button change-my-answer" aria-label="Change my answers for Preparing and cooking food">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Eating and drinking</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Eating and drinking" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you eating or drinking?</p>
                <p class="show-answer column-two-thirds">{{#eatinganddrinking.frequency}}{{eatinganddrinking.frequency}}{{/eatinganddrinking.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you eating or drinking.</p>
                <p class="show-answer column-two-thirds">{{^eatinganddrinking.frequencyNone of the time}}{{eatinganddrinking.detailsWhy}}{{/eatinganddrinking.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you eat and drink at the moment.</p>
                <p class="show-answer column-two-thirds">{{^eatinganddrinking.frequencyNone of the time}}{{eatinganddrinking.detailsHow}}{{/eatinganddrinking.frequencyNone of the time}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/eatinganddrinking?edit=true" class="button change-my-answer" aria-label="Change my answers for Eating and drinking">
  Change my answers													</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="heading-medium">Leaving your home</h3>
        <ul class="check-and-change">
          <li>
            <div class="form-group">
              <p class="check-question column-third">Going out</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Going out" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you leaving your home?</p>
                <p class="show-answer column-two-thirds">{{#goingOut.frequency}}{{goingOut.frequency}}{{/goingOut.frequency}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you leaving your home.</p>
                <p class="show-answer column-two-thirds">{{^goingOut.frequencyNone of the time}}{{goingOut.detailsWhy}}{{/goingOut.frequencyNone of the time}}</p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you leave your home at the moment.</p>
                <p class="show-answer column-two-thirds">{{^goingOut.frequencyNone of the time}}{{goingOut.detailsHow}}{{/goingOut.frequencyNone of the time}}</p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/goingOut?edit=true" class="button change-my-answer" aria-label="Change my answers for Going out">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Out and about</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Out and about" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you getting around easily and safely when you're out and about?</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you getting around easily and safely when you're out and about.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you get around when you're out and about at the moment.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/outAndAbout" class="button change-my-answer" aria-label="Change my answers for Out and about">
  Change my answers													</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Mixing with people</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Mixing with people" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you mixing with people?</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you mixing with people.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you mix with people at the moment.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/gettingOn" class="button change-my-answer" aria-label="Change my answers for Mixing with people">
  Change my answers													</a>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="heading-medium">Making sense of things</h3>
        <ul class="check-and-change">
          <li>
            <div class="form-group">
              <p class="check-question column-third">Going somewhere you have not been before</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Going somewhere you have not been before" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Would your condition affect you planning or following directions to somewhere you've never been before?</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition would affect you planning or following directions to somewhere you've never been before.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you would plan and follow diections to somewhere you've never been before.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/goingSomewhereNeverbeenBefore" class="button change-my-answer" aria-label="Change my answers for Going somewhere you have not been before">
  Change my answers										</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Going somewhere you have been before</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Going somewhere you have been before" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you planning or following directions to somewhere you know?</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you planning or following directions to somewhere you know.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you plan or follow directions to somewhere you know.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/goingSomewherebeenBefore" class="button change-my-answer" aria-label="Change my answers for Going somewhere you have been before">
  Change my answers										</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Understanding words, sentences, instructions and signs</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Understanding words, sentences, instructions and signs" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect your understanding of words, sentences, instructions or signs?</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects your understanding of words, sentences, instructions or signs.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you understand words, sentences, instructions or signs at the moment.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/understanding" class="button change-my-answer" aria-label="Change my answers for Understanding words, sentences, instructions and signs">
  Change my answers										</a>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <p class="check-question column-third">Managing your money</p>
              <p class="column-two-thirds">
                <a href="#" class="show-answer" aria-label="Hide my answers for Managing your money" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
              </p>
            </div>
            <div class="answered-question-cont">
              <div class="answered-question  ">
                <p class="question form-label column-third">Does your condition affect you managing your money?</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">Why your condition affects you managing your money.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="answered-question  ">
                <p class="question form-label column-third">How you manage your money at the moment.</p>
                <p class="show-answer column-two-thirds"></p>
              </div>
              <div class="column-two-thirds">
                <a href="/pip12/money" class="button change-my-answer" aria-label="Change my answers for Managing your money">
  Change my answers										</a>
              </div>
            </div>
          </li>
        </ul>
      </section>

    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
      <br />
      <a href="#" class="example-back-link">Back</a>
    </div>
  </form>

		<div class="column-third">

		</div>


</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
