{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
    
			<form action="mixing-with-people" method="#" class="form">
			
				<a href="communicating" class="example-back-link">Back</a>
				
				<!--div class="section-progress">
				Step 1 of 17
				</div-->
                <h1 class="form-title heading-large">
                Your day-to-day life - communicating
                </h1>

                
                <h2 class="heading-small">Complete the following statements</h2>

                
                {{#reminder-to-eat}}
                <div class="form-group inline"> 
                    <label class="form-label">I need to be prompted or encouraged to speak to people <input type="text" name="prompting-value" class="form-control-small" /> days a week </label>
                    <label class="form-label" for="prompting-area">because... <input class="form-control-3-4" name="prompting-area" id="prompting-area" /> .</label>
                    
                </div> 
    			{{/reminder-to-eat}}
                    
    				
                {{#food-prep}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label">I have difficultly hearing what people are saying because <input type="text" name="food-prep" class="form-control-3-4"  /></label>
                </div> 
    			{{/food-prep}}

                {{#feeding}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label">I find it difficult to understand people because <input type="text" name="feeding" class="form-control-3-4" /> days a week</label>
                </div> 
                {{/feeding}}

                {{#feeding-tube}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label" for="feeding-tube">I need someone to interpret sign language for me <input type="text" name="feeding-tube" class="form-control-small" /> days a week</label>
                    <label class="form-label" for="feeding-tube-area">because... <input class="form-control-2-4" id="feeding-tube-area" /> .</label>
                </div> 
                {{/feeding-tube}}
                    
                {{#supervising}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label" for="supervising">I need someone to speak for me because...</label>
                    <input class="form-control-2-4" id="supervising" />
                </div>     
                {{/supervising}}

                {{#side-effects}}
                <div class="form-group inline mpv-inline">
                    <label class="form-label" for="side-effects">The side-effects I get from speaking, hearing and understanding people are...</label>
                    <input class="form-control-2-4" id="side-effects" />
                    
                    <label class="form-label" for="side-effect2">and I get them <input type="text" id="side-effects2" class="form-control-small" /> days a week.</label>
                </div>    
                {{/side-effects}}
                    
                    
                {{#special-equipment}}
                <div class="form-group inline" id="details">
                    <label class="form-label add-padding" for="details-box">The special aids I use to speak or hear are</label>
                    <textarea type="text" class="form-control-3-4" id="details-box"></textarea> 
                    
                    <label class="form-label">and I need to use them <input type="text" name="food-prep2" class="form-control-small" /> days a week.</label>
                </div>    
                {{/special-equipment}}
    
                    
                <div class="form-group inline" id="details">
                    <label class="form-label-bold add-padding" for="details-box">Please tell us more about the difficulties you have speaking, hearing and understanding people.</label>
                    <textarea type="text" class="form-control-3-4" id="details-box"></textarea> 
                </div>
                    
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                </div>
                
                
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
