{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
    
			<form action="moving-around" method="#" class="form">
			
				<a href="mixing-with-people" class="example-back-link">Back</a>
				
				<!--div class="section-progress">
				Step 1 of 17
				</div-->
                <h1 class="form-title heading-large">
                Your day-to-day life: mixing with people
                </h1>

                
                <h2 class="heading-small">Complete the following statements</h2>

                
                {{#feeding-tube}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label" for="supervising">I try to avoid mixing with people because... <input class="form-control-3-4" id="supervising" /> .</label>
                </div>     
                {{/feeding-tube}}

                {{#reminder-to-eat}}
                <div class="form-group inline"> 
                    <label class="form-label">I need to be prompted or encouraged to mix with others <input type="text" name="prompting-value" class="form-control-small" /> % (percent) of the time </label>
                    <label class="form-label" for="prompting-area">because... <input class="form-control-3-4" name="prompting-area" id="prompting-area" /> .</label>
                </div> 
    			{{/reminder-to-eat}}
                    
    				
                {{#food-prep}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label">I need someone with me when I mix with people <input type="text" name="food-prep" class="form-control-small"  /> % (percent) of the time</label>
                    <label class="form-label" for="food-prep-area">because... <input class="form-control-3-4" id="food-prep-area" /> .</label>
                </div> 
    			{{/food-prep}}

                {{#feeding}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label">I need help to know how people are behaving towards me because... <input type="text" name="feeding" class="form-control-3-4" /> .</label>
                </div> 
                {{/feeding}}

                {{#supervising}}
                <div class="form-group inline mpv-inline"> 
                    <label class="form-label" for="feeding-tube">I don't know how to behave around people <input type="text" name="feeding-tube" class="form-control-small" /> % (percent) of the time</label>
                    <label class="form-label" for="feeding-tube-area">because... <input class="form-control-3-4" id="feeding-tube-area" /> .</label>
                </div> 
                {{/supervising}}

                {{#side-effects}}
                <div class="form-group inline mpv-inline">
                    <label class="form-label" for="side-effects">The side-effects I get before, during or after mixing with people are... <input class="form-control-3-4" id="side-effects" /></label>
                    <label class="form-label" for="side-effect2">and I get them <input type="text" id="side-effects2" class="form-control-small" /> % (percent) of the time.</label>
                </div>    
                {{/side-effects}}
                    
                    
                {{#special-equipment}}
                <div class="form-group inline" id="details">
                    <label class="form-label add-padding" for="details-box">I get anxious or stressed before, during or after mixing with people and this affects me by... <input class="form-control-3-4" id="details-box" /> .</label>
                </div>    
                {{/special-equipment}}
    
                    
                <div class="form-group inline" id="details">
                    <label class="form-label-bold add-padding" for="details-box">Is there anything else you want to tell us about mixing with people?</label>
                    <textarea type="text" class="form-control-3-4" id="details-box"></textarea> 
                </div>
                    
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                </div>
                
                
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
