{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">
            
			<form action="moving-around-more" method="post" class="form">
			
				<a href="mixing-with-people" class="example-back-link">Back</a>

				<h1 class="form-title heading-large">
				Your day-to-day life - getting around
				</h1>
				
				<div class="form-group inline">
				    <label class="form-label-bold" for="walking-aid">Do you use a special aid, other than a wheelchair, to help you walk?</label>
				    <p class="form-hint">This includes if you use a walking stick, crutches or other similar aid.</p>
				      <label class="block-label" for="walking-aid-yes">
				        <input id="walking-aid-yes" type="radio" name="walking-aid" value="true">
                            Yes
				    </label>
				    <label class="block-label" for="walking-aid-no">
                        <input id="walking-aid-no" type="radio" name="walking-aid" value="">
				            No
				    </label>  
                </div> 

                <div class="form-group inline">
				    <label class="form-label-bold" for="wheelchair">Do you use a wheelchair or similar device to get around?</label>
				      <label class="block-label" for="wheelchair-yes">
				        <input id="wheelchair-yes" type="radio" name="wheelchair" value="true">
                            Yes
				    </label>
				    <label class="block-label" for="wheelchair-no">
                        <input id="wheelchair-no" type="radio" name="wheelchair" value="">
				            No
				    </label>  
                </div>
                
                <div class="form-group inline">
				    <label class="form-label-bold" for="fall">Have you had a fall recently?</label>
				      <label class="block-label" for="fall-yes">
				        <input id="fall-yes" type="radio" name="fall" value="true">
                            Yes
				    </label>
				    <label class="block-label" for="fall-no">
                        <input id="fall-no" type="radio" name="fall" value="">
				            No
				    </label>  
                </div>
                
                

                <div class="form-group inline">
				    <label class="form-label-bold" for="side-effects">Do you get any side effects from walking?</label>
				    <p class="form-hint">This includes pain, breathlessness or tiredness.</p>
				      <label class="block-label" for="side-effects-yes">
				        <input id="side-effects-yes" type="radio" name="side-effects" value="true">
                            Yes
				    </label>
				    <label class="block-label" for="side-effects-no">
                        <input id="side-effects-no" type="radio" name="side-effects" value="">
				            No
				    </label>  
                </div>            
                
                <fieldset>
							
					<div class="form-group">
						<p class="form-label-bold" for="distance">How far can you walk taking into account any aids you use?</p>
						<p class="form-hint">A double decker bus is approx 10 metres long for instance</p>
						
						<label class="block-label" for="distance-20">
							<input id="distance-20" type="radio" name="distance" value="">
							Less than 20 metres
						</label>
						<label class="block-label" for="distance-50">
							<input id="distance-50" type="radio" name="distance" value="">
							Between 20 and 50 metres
						</label> 
						<label class="block-label" for="distance-200">
							<input id="distance-200" type="radio" name="distance" value="">
							Between 50 and 200 metres
						</label> 
						<label class="block-label" for="distance-200-plus">
							<input id="distance-200-plus" type="radio" name="distance" value="">
							200 metres or more
						</label>  
						<label class="block-label" data-target="distance-details" for="distance-varies">
							<input id="distance-varies" type="radio" name="distance" value="true">
							It varies
						</label> 
					</div>
					
					<div class="panel js-hidden" id="distance-details">
						<ul>
							<li>
								<div class="form-group spacer">
									<label class="form-label" for="good-distance">On a good day</label>
									<input type="text" class="form-control form-control-1-8" id="good-distance"> metres
								</div>
							</li>
							<li>
								<div class="form-group">
									<label class="form-label" for="bad-distance">On a bad day</label>
									<input type="text" class="form-control form-control-1-8" id="bad-distance"> metres
								</div>
							</li>
						</ul>
					</div>
				
				</fieldset>

                
                
                <div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
