{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

      <form action="conditionDetails{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="conditionDetails">





       <h1 class="form-title heading-large">{{>includes/pages/progress}}
          Your conditions and disabilities </h1>
<p class="lede">List all the conditions or disabilities you have that affect your life. Include either when you were diagnosed or when you started to be affected.</p>
        <div class="form-group">
          <table class="condition">
            <tbody>
              <tr>
                <th>List your conditions and disabilities</th>
                <th class="numeric">When it started</th>
              </tr>


              <tr id="condition-row-0" class="condition-row ">
                <td>
                  <div class="form-group" id="form-group-conditionList0.condition">
                    <label class="form-label" for="conditionList0.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList0.condition" name="conditionList0.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList0.started">
                    <label class="form-label" for="conditionList0.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList0.started" name="conditionList0.started" value="">
                  </div>
                </td>
              </tr>


              <tr id="condition-row-1" class="condition-row">
                <td>
                  <div class="form-group" id="form-group-conditionList1.condition">
                    <label class="form-label" for="conditionList1.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList1.condition" name="conditionList1.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList1.started">
                    <label class="form-label" for="conditionList1.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList1.started" name="conditionList1.started" value="">
                  </div>
                </td>
              </tr>
              <tr id="condition-row-2" class="condition-row">
                <td>
                  <div class="form-group" id="form-group-conditionList2.condition">
                    <label class="form-label" for="conditionList2.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList2.condition" name="conditionList2.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList2.started">
                    <label class="form-label" for="conditionList2.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList2.started" name="conditionList2.started" value="">
                  </div>
                </td>
              </tr>
              <tr id="condition-row-3" class="condition-row ">
                <td>
                  <div class="form-group" id="form-group-conditionList3.condition">
                    <label class="form-label" for="conditionList3.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList3.condition" name="conditionList3.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList3.started">
                    <label class="form-label" for="conditionList3.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList3.started" name="conditionList3.started" value="">
                  </div>
                </td>
              </tr>
              <tr id="condition-row-4" class="condition-row ">
                <td>
                  <div class="form-group" id="form-group-conditionList4.condition">
                    <label class="form-label" for="conditionList4.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList4.condition" name="conditionList4.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList4.started">
                    <label class="form-label" for="conditionList4.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList4.started" name="conditionList4.started" value="">
                  </div>
                </td>
              </tr>
              <tr id="condition-row-5" class="condition-row ">
                <td>
                  <div class="form-group" id="form-group-conditionList5.condition">
                    <label class="form-label" for="conditionList5.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList5.condition" name="conditionList5.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList5.started">
                    <label class="form-label" for="conditionList5.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList5.started" name="conditionList5.started" value="">
                  </div>
                </td>
              </tr>
              <tr id="condition-row-6" class="condition-row ">
                <td>
                  <div class="form-group" id="form-group-conditionList6.condition">
                    <label class="form-label" for="conditionList6.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList6.condition" name="conditionList6.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList6.started">
                    <label class="form-label" for="conditionList6.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList6.started" name="conditionList6.started" value="">
                  </div>
                </td>
              </tr>
              <tr id="condition-row-7" class="condition-row ">
                <td>
                  <div class="form-group" id="form-group-conditionList7.condition">
                    <label class="form-label" for="conditionList7.condition">


                      <span class="visuallyhidden">Condition or disability</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList7.condition" name="conditionList7.condition" value="">
                  </div>
                </td>
                <td>
                  <div class="form-group" id="form-group-conditionList7.started">
                    <label class="form-label" for="conditionList7.started">


                      <span class="visuallyhidden">When it started</span>

                    </label>
                    <input type="text" class="form-control" id="conditionList7.started" name="conditionList7.started" value="">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>




        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
          <input type="submit" value="Save and come back later" name="saveAndExit" class="exit-link">
          <a href="#" class="example-back-link">Back</a>
        </div>

      </form>

		</div>
		<div class="column-third">{{>includes/pages/getHelp}}

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
