{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="understanding-q{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="understanding-q">

       <h1 class="form-title heading-large">{{>includes/pages/progress}}
Understanding words, sentences, instructions and signs        </h1>
        <ul>
					<li>

    <div class="form-group" id="form-group-frequency">
      <fieldset>
        <legend class="form-label" id="frequency" for="frequency">
        <span class="frequency-question">Does your condition affect your understanding of words, sentences, instructions or signs?</span>

         <p class="form-hint">This includes if you find any part difficult or if you rely on someone to help or explain information to you.</p>

        </legend>
        {{>includes/pages/variability}}

      </fieldset>
      </div>
						<div class="panel-indent js-hidden" id="details">
              <div id="how-often" class="form-group js-hidden">
                <label class="form-label" for="ownWords">How often.</label>
                <input type="text" class="form-control" id="ownWords" name="ownWords" value="{{#frequency.ownWords}}{{frequency.ownWords}}{{/frequency.ownWords}}" />
              </div>
        <div class="form-group">
						<label class="form-label" for="detailsWhy">

Why your condition affects your understanding of words, sentences, instructions or signs.
						</label>
            <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
						<textarea class="form-control-3-4  " maxlength="1500" id="detailsWhy" name="detailsWhy"></textarea>
		</div>
        <div class="form-group">
						<label class="form-label" for="detailsHow">

How you understand words, sentences, instructions or signs at the moment.
						</label>
            <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
						<textarea class="form-control-3-4  " maxlength="1500" id="detailsHow" name="detailsHow"></textarea>
		</div>
						</div>
					</li>
        </ul>
        <div class="form-group">
					<input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
					<input type="submit" value="Save and come back later" name="saveAndExit" class="exit-link">
          <a href="#" class="example-back-link">Back</a>
				</div>


			</form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
