{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="pip05" method="#" class="form">
			
				<a href="pip03" class="example-back-link">Back</a>
				
				<!--div class="section-progress">
				Step 1 of 17
				</div-->
				
								<h1 class="form-title heading-large">
				Consent
				</h1>
				
				<!-- terminal illness -->
				<fieldset class="inline">
				
					<legend class="form-label-bold" for="consent">Do you agree to us contacting any healthcare professionals you have told us about?</legend>
					<p class="form-hint">Answering 'no' may affect your claim.</p>
					
					<div class="form-group"><!-- 'form-group-compound' -->	
						<label class="block-label" for="consent-yes">
							<input id="consent-yes" type="radio" name="consent" value="Yes">
							Yes
						</label>
						<label class="block-label" for="consent-no">
							<input id="consent-no" type="radio" name="consent" value="No">
							No
						</label>
					</div>
				</fieldset>
				
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Continue">
				</div>


			
			</form>
		
		</div>
		<div class="column-third">
			
		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
