{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
			<form id="check-my-answers" action="declaration" method="#" class="form">


      <h1 class="form-title heading-large">
Check your answers				</h1>

    <div class="grid-row show-all">
      <p class="column-two-thirds">
        <a href="#" class="show-all"
        data-action="open"
        data-open-text="Show all my answers"
        data-close-text="Hide all my answers">Show all my answers</a>
      </p>
    </div>

    <div class="grid-row form-group">
      <section>
        <ul class="check-and-change">
          <li>
<div class="form-group">
<p class="check-question column-third">Help with your application</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Help with your application"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
            <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">The name of the person helping you</p>
<p class="show-answer column-two-thirds">{{#helper.name}}{{helper.name}}{{/helper.name}}</p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Their relationship to you</p>
<p class="show-answer column-two-thirds">{{#helper.relationship}}{{helper.relationship}}{{/helper.relationship}}</p>
</div>
              <div class="column-two-thirds">
                <a href="/pip11/helper?edit=true" class="button change-my-answer"
                aria-label="Change my answers for Help with your application">
Change my answers									</a>
              </div>
            </div>
          </li>

          <li>
<div class="form-group">
<p class="check-question column-third">Nationality and where you live</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Nationality and where you live"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
            <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">What is your nationality?</p>
<p class="show-answer column-two-thirds">{{#nationality.britishCitizen}}{{nationality.britishCitizen}}{{/nationality.britishCitizen}}</p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Your nationality</p>
<p class="show-answer column-two-thirds">{{#nationality.yourNationality}}{{nationality.yourNationality}}{{/nationality.yourNationality}}</p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Do you live in England, Scotland or Wales?</p>
<p class="show-answer column-two-thirds">{{#nationality.livingUK}}{{nationality.livingUK}}{{/nationality.livingUK}}</p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Country you live in</p>
<p class="show-answer column-two-thirds">{{#nationality.livingCountry}}{{nationality.livingCountry}}{{/nationality.livingCountry}}</p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Have you been out of England, Scotland or Wales for more than a year in the last 3 years?</p>
<p class="show-answer column-two-thirds">{{#nationality.beenAbroad}}{{nationality.beenAbroad}}{{/nationality.beenAbroad}}</p>
</div>
              <div class="column-two-thirds">
                <a href="/pip11/nationality?edit=true" class="button change-my-answer"
                aria-label="Change my answers for Nationality and where you live">
Change my answers									</a>
              </div>
            </div>
          </li>
          <li>
<div class="form-group">
<p class="check-question column-third">Payments from abroad and working abroad</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Payments from abroad and working abroad"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
            <div class="answered-question-cont js-hiddedn">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Have you, or anyone in your family, ever claimed benefits or been paid a pension from any country outside of England, Wales or Scotland?</p>
<p class="show-answer column-two-thirds">{{#paymentsFromAbroad.benefitsAbroadPayment}}{{paymentsFromAbroad.benefitsAbroadPayment}}{{/paymentsFromAbroad.benefitsAbroadPayment}}</p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Do you, or anyone in your family, work or pay insurance to any country outside of England, Wales or Scotland?</p>
<p class="show-answer column-two-thirds">{{#paymentsFromAbroad.payInsuranceAbroad}}{{paymentsFromAbroad.payInsuranceAbroad}}{{/paymentsFromAbroad.payInsuranceAbroad}}</p>
</div>
              <div class="column-two-thirds">
                <a href="/pip11/paymentsFromAbroad?edit=true" class="button change-my-answer"
                aria-label="Change my answers for Payments from abroad and working abroad">
Change my answers									</a>
              </div>
            </div>
          </li>
          <li>
<div class="form-group">
<p class="check-question column-third">Your conditions and disabilities</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Your conditions and disabilities"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
            <div class="answered-question-cont js-hidden">
              <div class="answered-question">
<p class="question form-label-bold column-third">List your conditions and disabilities</p>
              </div>
              <div class="answered-question">
<p class="question form-label-bold column-third">List any medication that you're currently taking</p>
                </div>
                <div class="answered-question">
<p class="question form-label-bold column-third">List any treatments or therapy you've had or have planned</p>
                </div>
                <div class="answered-question">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe any side-effects you get from your medication or treatments.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you managing your treatments or taking your medication when you're at home?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you managing your treatments or taking medication when you're at home.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you manage your treatments or take your medication when you're at home, at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                </div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/activities/conditionDetails" class="button change-my-answer"
                  aria-label="Change my answers for Your conditions and disabilities">
Change my answers										</a>
              </div>
            </div>
            </li>
            <li>
<div class="form-group">
<p class="check-question column-third">Professionals who know about your condition</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Professionals who know about your condition"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
                <div class="column-two-thirds">
                  <a href="/pipDigital/healthcare/healthcareprofessional" class="button change-my-answer"
                  aria-label="Change my answers for Professionals who know about your condition">
Change my answers										</a>
                </div>
              </div>
            </li>
            <li>
<div class="form-group">
<p class="check-question column-third">Medical information</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Medical information"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
<div class="answered-question">
<p class="question form-label-bold column-third">Choose what you'll send:</p>

<ul class="show-answer list-bullet column-two-thirds">


</ul>

</div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/user-data/submitEvidence" class="button change-my-answer"
                  aria-label="Change my answers for Medical information">
Change my answers										</a>
                </div>
              </div>
            </li>
          </ul>
          </section>
                <section>
                  <h3 class="heading-medium">You and your home</h3>
                  <ul class="check-and-change">
                  <li>
<div class="form-group">
<p class="check-question column-third">Aids and adaptations</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Aids and adaptations"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question">
<p class="question form-label-bold column-third">Where do you have to use aids, adaptations or anything else to make things easier for you?</p>

<ul class="show-answer list-bullet column-two-thirds">


</ul>

</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">List anything else you have with you all or most of the time to make things easier for you.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/user-data/specialAids" class="button change-my-answer"
                        aria-label="Change my answers for Aids and adaptations">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Getting around</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Getting around"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you getting around your home?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you getting around your home.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you get around your home at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/gettingAround" class="button change-my-answer"
                        aria-label="Change my answers for Getting around">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Seeing</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Seeing"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect your sight, which isn't helped by wearing glasses or contact lenses?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you sight.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you see things at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/seeing" class="button change-my-answer"
                        aria-label="Change my answers for Seeing">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Speaking</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Speaking"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you speaking</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you speaking.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you communicate at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/speaking" class="button change-my-answer"
                        aria-label="Change my answers for Speaking">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Hearing</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Hearing"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect your hearing?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects your hearing.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you know what's being said at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/hearing" class="button change-my-answer"
                        aria-label="Change my answers for Hearing">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
              <section>
                <h3 class="heading-medium">Caring for yourself</h3>
                <ul class="check-and-change">
                  <li>
<div class="form-group">
<p class="check-question column-third">Getting up</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Getting up"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you getting up and out of bed?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you getting up and out of bed.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you get up and out of bed at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/gettingUp" class="button change-my-answer"
                        aria-label="Change my answers for Getting up">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Using the toilet</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Using the toilet"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you using the toilet?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you using the toilet.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you use the toilet at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/toilet" class="button change-my-answer"
                        aria-label="Change my answers for Using the toilet">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Washing yourself</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Washing yourself"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you washing your hair or any part of your body?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you washing your hair or any part of your body.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you wash your hair and body at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/washing" class="button change-my-answer"
                        aria-label="Change my answers for Washing yourself">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Getting dressed</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Getting dressed"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you getting dressed?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you getting dressed.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you get dressed at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/gettingDressed" class="button change-my-answer"
                        aria-label="Change my answers for Getting dressed">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Preparing and cooking food</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Preparing and cooking food"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you preparing or cooking a hot meal from scratch?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you preparing or cooking a hot meal from scratch.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you cook and prepare a hot meal from scratch at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/preparingandcookingfood" class="button change-my-answer"
                        aria-label="Change my answers for Preparing and cooking food">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Eating and drinking</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Eating and drinking"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you eating or drinking?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you eating or drinking.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you eat and drink at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/eatinganddrinking" class="button change-my-answer"
                        aria-label="Change my answers for Eating and drinking">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
              <section>
                <h3 class="heading-medium">Leaving your home</h3>
                <ul class="check-and-change">
                  <li>
<div class="form-group">
<p class="check-question column-third">Going out</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Going out"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you leaving your home?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you leaving your home.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you leave your home at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/goingOut" class="button change-my-answer"
                        aria-label="Change my answers for Going out">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Out and about</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Out and about"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you getting around easily and safely when you're out and about?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you getting around easily and safely when you're out and about.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you get around when you're out and about at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/outAndAbout" class="button change-my-answer"
                        aria-label="Change my answers for Out and about">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                  <li>
<div class="form-group">
<p class="check-question column-third">Mixing with people</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Mixing with people"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
                    <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you mixing with people?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you mixing with people.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you mix with people at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                      <div class="column-two-thirds">
                        <a href="/pipDigital/activities/gettingOn" class="button change-my-answer"
                        aria-label="Change my answers for Mixing with people">
Change my answers													</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </section>
              <section>
                <h3 class="heading-medium">Making sense of things</h3>
                <ul class="check-and-change">
            <li>
<div class="form-group">
<p class="check-question column-third">Going somewhere you have not been before</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Going somewhere you have not been before"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Would your condition affect you planning or following directions to somewhere you've never been before?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition would affect you planning or following directions to somewhere you've never been before.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you would plan and follow diections to somewhere you've never been before.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/activities/goingSomewhereNeverbeenBefore" class="button change-my-answer"
                  aria-label="Change my answers for Going somewhere you have not been before">
Change my answers										</a>
                </div>
              </div>
            </li>
            <li>
<div class="form-group">
<p class="check-question column-third">Going somewhere you have been before</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Going somewhere you have been before"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you planning or following directions to somewhere you know?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you planning or following directions to somewhere you know.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you plan or follow directions to somewhere you know.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/activities/goingSomewherebeenBefore" class="button change-my-answer"
                  aria-label="Change my answers for Going somewhere you have been before">
Change my answers										</a>
                </div>
              </div>
            </li>
            <li>
<div class="form-group">
<p class="check-question column-third">Understanding words, sentences, instructions and signs</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Understanding words, sentences, instructions and signs"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect your understanding of words, sentences, instructions or signs?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects your understanding of words, sentences, instructions or signs.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you understand words, sentences, instructions or signs at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/activities/understanding" class="button change-my-answer"
                  aria-label="Change my answers for Understanding words, sentences, instructions and signs">
Change my answers										</a>
                </div>
              </div>
            </li>
            <li>
<div class="form-group">
<p class="check-question column-third">Managing your money</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Managing your money"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Does your condition affect you managing your money?</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe why your condition affects you managing your money.</p>
<p class="show-answer column-two-thirds"></p>
</div>
<div class="answered-question  ">
<p class="question form-label-bold column-third">Describe how you manage your money at the moment.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/activities/money" class="button change-my-answer"
                  aria-label="Change my answers for Managing your money">
Change my answers										</a>
                </div>
              </div>
            </li>
          </ul>
        </section>
            <section>
          <h3 class="heading-medium">Additional information</h3>
          <ul class="check-and-change">
            <li>
<div class="form-group">
<p class="check-question column-third">Additional information</p>
<p class="column-two-thirds">
  <a href="#" class="show-answer"
  aria-label="Show my answers for Additional information"
  data-open-text="Show my answers"
  data-close-text="Hide my answers" >Show my answers</a>
</p>
</div>
              <div class="answered-question-cont js-hidden">
<div class="answered-question  ">
<p class="question form-label-bold column-third">Include anything else that explains how your condition or disability affects you.</p>
<p class="show-answer column-two-thirds"></p>
</div>
                <div class="column-two-thirds">
                  <a href="/pipDigital/activities/additionalInfo" class="button change-my-answer"
                  aria-label="Change my answers for Additional information">
Change my answers										</a>
                </div>
              </div>
            </li>
          </ul>
      </section>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Save and continue" name="saveAndcontinue" >
    </div>





			</form>

		<div class="column-third">

		</div>


</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
