{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="conditionAffects" method="#" class="form checkMyAnswers" data-question="conditionDetails">
        <a href="/pipDigital/user-data/paymentsFromAbroad" class="example-back-link">Back</a>





        				<h1 class="form-title heading-large">
        Your conditions and disabilities				</h1>


        				<h2 class="heading-medium">
        List your conditions and disabilities				</h2>

        				<div class="form-group">
        					<table class="condition">
        						<tbody><tr>
        							<th>Condition or disability</th>
        							<th class="numeric">When it started</th>
        						</tr>


        										<tr id="condition-row-0" class="condition-row " >
        											<td>
           <div class="form-group" id="form-group-conditionList[0].condition">
             <label class="form-label" for="conditionList[0].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[0].condition" name="conditionList[0].condition" value="">
          </div>
        </td>
        											<td>
           <div class="form-group" id="form-group-conditionList[0].started">
             <label class="form-label" for="conditionList[0].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[0].started" name="conditionList[0].started" value="">
          </div>
        </td>
        										</tr>


        						  			<tr id="condition-row-1" class="condition-row">
        										<td>
           <div class="form-group" id="form-group-conditionList[1].condition">
             <label class="form-label" for="conditionList[1].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[1].condition" name="conditionList[1].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[1].started">
             <label class="form-label" for="conditionList[1].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[1].started" name="conditionList[1].started" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="condition-row-2" class="condition-row">
        										<td>
           <div class="form-group" id="form-group-conditionList[2].condition">
             <label class="form-label" for="conditionList[2].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[2].condition" name="conditionList[2].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[2].started">
             <label class="form-label" for="conditionList[2].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[2].started" name="conditionList[2].started" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="condition-row-3" class="condition-row js-hidden">
        										<td>
           <div class="form-group" id="form-group-conditionList[3].condition">
             <label class="form-label" for="conditionList[3].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[3].condition" name="conditionList[3].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[3].started">
             <label class="form-label" for="conditionList[3].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[3].started" name="conditionList[3].started" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="condition-row-4" class="condition-row js-hidden">
        										<td>
           <div class="form-group" id="form-group-conditionList[4].condition">
             <label class="form-label" for="conditionList[4].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[4].condition" name="conditionList[4].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[4].started">
             <label class="form-label" for="conditionList[4].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[4].started" name="conditionList[4].started" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="condition-row-5" class="condition-row js-hidden">
        										<td>
           <div class="form-group" id="form-group-conditionList[5].condition">
             <label class="form-label" for="conditionList[5].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[5].condition" name="conditionList[5].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[5].started">
             <label class="form-label" for="conditionList[5].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[5].started" name="conditionList[5].started" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="condition-row-6" class="condition-row js-hidden">
        										<td>
           <div class="form-group" id="form-group-conditionList[6].condition">
             <label class="form-label" for="conditionList[6].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[6].condition" name="conditionList[6].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[6].started">
             <label class="form-label" for="conditionList[6].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[6].started" name="conditionList[6].started" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="condition-row-7" class="condition-row js-hidden">
        										<td>
           <div class="form-group" id="form-group-conditionList[7].condition">
             <label class="form-label" for="conditionList[7].condition">


             <span class="visuallyhidden">Condition or disability</span>

             </label>
             <input type="text" class="form-control" id="conditionList[7].condition" name="conditionList[7].condition" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-conditionList[7].started">
             <label class="form-label" for="conditionList[7].started">


             <span class="visuallyhidden">When it started</span>

             </label>
             <input type="text" class="form-control" id="conditionList[7].started" name="conditionList[7].started" value="">
          </div>
        </td>
        									</tr>
        	                </tbody></table>

        	                <p><a href="#" class="link-table" data-target="condition-row">Add another condition</a>
        	                </p></div>

        	             	<h2 class="heading-medium">
        List any medication that you're currently taking					</h2>


        				<div class="form-group">
        					<table class="condition">
        						<tbody><tr>
        							<th>Medication</th>
        							<th class="numeric">Dosage</th>
        							<th class="numeric">How often you take it</th>
        						</tr>



        						  			<tr id="medication-row-0" class="medication-row">
        										<td>
           <div class="form-group" id="form-group-medicationList[0].name">
             <label class="form-label" for="medicationList[0].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[0].name" name="medicationList[0].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[0].dosage">
             <label class="form-label" for="medicationList[0].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[0].dosage" name="medicationList[0].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[0].frequency">
             <label class="form-label" for="medicationList[0].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[0].frequency" name="medicationList[0].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-1" class="medication-row">
        										<td>
           <div class="form-group" id="form-group-medicationList[1].name">
             <label class="form-label" for="medicationList[1].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[1].name" name="medicationList[1].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[1].dosage">
             <label class="form-label" for="medicationList[1].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[1].dosage" name="medicationList[1].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[1].frequency">
             <label class="form-label" for="medicationList[1].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[1].frequency" name="medicationList[1].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-2" class="medication-row">
        										<td>
           <div class="form-group" id="form-group-medicationList[2].name">
             <label class="form-label" for="medicationList[2].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[2].name" name="medicationList[2].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[2].dosage">
             <label class="form-label" for="medicationList[2].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[2].dosage" name="medicationList[2].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[2].frequency">
             <label class="form-label" for="medicationList[2].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[2].frequency" name="medicationList[2].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-3" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[3].name">
             <label class="form-label" for="medicationList[3].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[3].name" name="medicationList[3].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[3].dosage">
             <label class="form-label" for="medicationList[3].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[3].dosage" name="medicationList[3].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[3].frequency">
             <label class="form-label" for="medicationList[3].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[3].frequency" name="medicationList[3].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-4" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[4].name">
             <label class="form-label" for="medicationList[4].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[4].name" name="medicationList[4].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[4].dosage">
             <label class="form-label" for="medicationList[4].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[4].dosage" name="medicationList[4].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[4].frequency">
             <label class="form-label" for="medicationList[4].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[4].frequency" name="medicationList[4].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-5" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[5].name">
             <label class="form-label" for="medicationList[5].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[5].name" name="medicationList[5].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[5].dosage">
             <label class="form-label" for="medicationList[5].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[5].dosage" name="medicationList[5].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[5].frequency">
             <label class="form-label" for="medicationList[5].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[5].frequency" name="medicationList[5].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-6" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[6].name">
             <label class="form-label" for="medicationList[6].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[6].name" name="medicationList[6].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[6].dosage">
             <label class="form-label" for="medicationList[6].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[6].dosage" name="medicationList[6].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[6].frequency">
             <label class="form-label" for="medicationList[6].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[6].frequency" name="medicationList[6].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-7" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[7].name">
             <label class="form-label" for="medicationList[7].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[7].name" name="medicationList[7].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[7].dosage">
             <label class="form-label" for="medicationList[7].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[7].dosage" name="medicationList[7].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[7].frequency">
             <label class="form-label" for="medicationList[7].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[7].frequency" name="medicationList[7].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-8" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[8].name">
             <label class="form-label" for="medicationList[8].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[8].name" name="medicationList[8].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[8].dosage">
             <label class="form-label" for="medicationList[8].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[8].dosage" name="medicationList[8].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[8].frequency">
             <label class="form-label" for="medicationList[8].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[8].frequency" name="medicationList[8].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="medication-row-9" class="medication-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-medicationList[9].name">
             <label class="form-label" for="medicationList[9].name">


             <span class="visuallyhidden">Medication</span>

             </label>
             <input type="text" class="form-control" id="medicationList[9].name" name="medicationList[9].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[9].dosage">
             <label class="form-label" for="medicationList[9].dosage">


             <span class="visuallyhidden">Dosage</span>

             </label>
             <input type="text" class="form-control" id="medicationList[9].dosage" name="medicationList[9].dosage" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-medicationList[9].frequency">
             <label class="form-label" for="medicationList[9].frequency">


             <span class="visuallyhidden">How often you take it</span>

             </label>
             <input type="text" class="form-control" id="medicationList[9].frequency" name="medicationList[9].frequency" value="">
          </div>
        </td>
        									</tr>
        	                </tbody></table>


        	                <p><a href="#" class="link-table" data-target="medication-row">Add another medication</a>
        	                </p></div>


        				<h2 class="heading-medium">
        List any treatments or therapy you've had or have planned				</h2>

        				<div class="form-group">
        					<table class="condition">
        						<tbody><tr>
        							<th>Name of treatment or therapy</th>
        							<th class="numeric">When or how often</th>
        						</tr>



        						  			<tr id="treatment-row-0" class="treatment-row">
        										<td>
           <div class="form-group" id="form-group-treatmentList[0].name">
             <label class="form-label" for="treatmentList[0].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[0].name" name="treatmentList[0].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[0].frequency">
             <label class="form-label" for="treatmentList[0].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[0].frequency" name="treatmentList[0].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-1" class="treatment-row">
        										<td>
           <div class="form-group" id="form-group-treatmentList[1].name">
             <label class="form-label" for="treatmentList[1].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[1].name" name="treatmentList[1].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[1].frequency">
             <label class="form-label" for="treatmentList[1].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[1].frequency" name="treatmentList[1].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-2" class="treatment-row">
        										<td>
           <div class="form-group" id="form-group-treatmentList[2].name">
             <label class="form-label" for="treatmentList[2].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[2].name" name="treatmentList[2].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[2].frequency">
             <label class="form-label" for="treatmentList[2].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[2].frequency" name="treatmentList[2].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-3" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[3].name">
             <label class="form-label" for="treatmentList[3].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[3].name" name="treatmentList[3].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[3].frequency">
             <label class="form-label" for="treatmentList[3].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[3].frequency" name="treatmentList[3].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-4" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[4].name">
             <label class="form-label" for="treatmentList[4].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[4].name" name="treatmentList[4].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[4].frequency">
             <label class="form-label" for="treatmentList[4].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[4].frequency" name="treatmentList[4].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-5" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[5].name">
             <label class="form-label" for="treatmentList[5].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[5].name" name="treatmentList[5].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[5].frequency">
             <label class="form-label" for="treatmentList[5].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[5].frequency" name="treatmentList[5].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-6" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[6].name">
             <label class="form-label" for="treatmentList[6].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[6].name" name="treatmentList[6].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[6].frequency">
             <label class="form-label" for="treatmentList[6].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[6].frequency" name="treatmentList[6].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-7" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[7].name">
             <label class="form-label" for="treatmentList[7].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[7].name" name="treatmentList[7].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[7].frequency">
             <label class="form-label" for="treatmentList[7].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[7].frequency" name="treatmentList[7].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-8" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[8].name">
             <label class="form-label" for="treatmentList[8].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[8].name" name="treatmentList[8].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[8].frequency">
             <label class="form-label" for="treatmentList[8].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[8].frequency" name="treatmentList[8].frequency" value="">
          </div>
        </td>
        									</tr>
        						  			<tr id="treatment-row-9" class="treatment-row  js-hidden">
        										<td>
           <div class="form-group" id="form-group-treatmentList[9].name">
             <label class="form-label" for="treatmentList[9].name">


             <span class="visuallyhidden">Name of treatment or therapy</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[9].name" name="treatmentList[9].name" value="">
          </div>
        </td>
        										<td>
           <div class="form-group" id="form-group-treatmentList[9].frequency">
             <label class="form-label" for="treatmentList[9].frequency">


             <span class="visuallyhidden">When or how often</span>

             </label>
             <input type="text" class="form-control" id="treatmentList[9].frequency" name="treatmentList[9].frequency" value="">
          </div>
        </td>
        									</tr>
        	                </tbody></table>


        	                	<p><a href="#" class="link-table" data-target="treatment-row">Add another treatment or therapy </a>
        	                </p></div>


        						<fieldset>
                <div class="form-group">
        						<label class="form-label-bold" for="sideEffects">

        Describe any side-effects you get from your medication or treatments.
        						</label>
        						<textarea class="form-control-3-4  " id="sideEffects" name="sideEffects"></textarea>
        		</div>
        						</fieldset>

        					<ul>
        					<li>

            <div class="form-group" id="form-group-frequency">
              <fieldset>
                <legend class="form-label-bold" id="frequency" for="frequency">
                <span class="frequency-question">Does your condition affect you managing your treatments or taking your medication when you're at home?</span>

                 <p class="form-hint">This includes if you rely on someone to help or remind you. </p>

                </legend>


                          		<label class="block-label" for="pip.radio.morethan14hours.id" data-target="details">
              							<input id="pip.radio.morethan14hours.id" type="radio" name="frequency" value="More than 14 hours a week" aria-controls="details">
              							 More than 14 hours a week
              					</label>
                          		<label class="block-label" for="pip.radio.between7and14hours.id" data-target="details">
              							<input id="pip.radio.between7and14hours.id" type="radio" name="frequency" value="Between 7 and 14 hours a week" aria-controls="details">
              							 Between 7 and 14 hours a week
              					</label>
                          		<label class="block-label" for="pip.radio.between35and7hours.id" data-target="details">
              							<input id="pip.radio.between35and7hours.id" type="radio" name="frequency" value="Between 3.5 and 7 hours a week" aria-controls="details">
              							 Between 3.5 and 7 hours a week
              					</label>
                          		<label class="block-label" for="pip.radio.lessthan35hours.id" data-target="details">
              							<input id="pip.radio.lessthan35hours.id" type="radio" name="frequency" value="Less than 3.5 hours a week" aria-controls="details">
              							 Less than 3.5 hours a week
              					</label>
                          		<label class="block-label" for="pip.radio.nohours.id">
              							<input id="pip.radio.nohours.id" type="radio" name="frequency" value="It doesn't">
              							 It doesn't
              					</label>

              </fieldset>
              </div>

        					<div class="panel-indent js-hidden" id="details">
                <div class="form-group">
        						<label class="form-label-bold" for="detailsWhy">

        Describe why your condition affects you managing your treatments or taking medication when you're at home.
        						</label>
        						<textarea class="form-control-3-4  " id="detailsWhy" name="detailsWhy"></textarea>
        		</div>
                <div class="form-group">
        						<label class="form-label-bold" for="detailsHow">

        Describe how you manage your treatments or take your medication when you're at home, at the moment.
        						</label>
        						<textarea class="form-control-3-4  " id="detailsHow" name="detailsHow"></textarea>
        		</div>
        						</div>
        					</li>

                        </ul>

        				<div class="form-group">
        					<input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
        					<input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
        				</div>

			</form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
