{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

      <form action="gettingUp{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="gettingUp">

        <a href="/pipDigital/summary/caringForYourself" class="example-back-link">Back</a>

        <h1 class="form-title heading-large">
          Getting up </h1>
        <ul>
          <li>

            <div class="form-group" id="form-group-frequency">
              <fieldset>
                <legend class="form-label-bold" id="frequency" for="frequency">
                  <span class="frequency-question">Does your condition affect you getting up and out of bed?</span>

                  <p class="form-hint">This includes if you find any part difficult or if you rely on someone to help or encourage you to get out of bed.</p>

                </legend>

                <label class="block-label" for="pip.radio.allthetime.id" data-target="details">
                  <input id="pip.radio.allthetime.id" type="radio" name="frequency" value="Everytime I get out of bed" {{#frequency.frequencyEverytime I get out of bed}}checked=checked{{/frequency.frequencyEverytime I get out of bed}} aria-controls="details"> Everytime you get out of bed
                </label>
                <label class="block-label" for="pip.radio.morethanhalf.id" data-target="details">
                  <input id="pip.radio.morethanhalf.id" type="radio" name="frequency" value="More than half the time" {{#frequency.frequencyMore than half the time}}checked=checked{{/frequency.frequencyMore than half the time}} aria-controls="details"> More than half the time
                </label>
                <label class="block-label" for="pip.radio.lessthanhalf.id" data-target="details">
                  <input id="pip.radio.lessthanhalf.id" type="radio" name="frequency" value="Less than half the time" {{#frequency.frequencyLess than half the time}}checked=checked{{/frequency.frequencyLess than half the time}} aria-controls="details"> Less than half the time
                </label>
                <label class="block-label" for="pip.radio.noneofthetime.id">
                  <input id="pip.radio.noneofthetime.id" type="radio" name="frequency" value="None of the time" {{#frequency.frequencyNone of the time}}checked=checked{{/frequency.frequencyNone of the time}}> None of the time
                </label>
                <p class="form-block">or</p>

                <label class="block-label" for="pip.radio.own-words.id" data-target="own-words">
                  <input id="pip.radio.own-words.id" type="radio" name="frequency" value="Tell us how often in your own words" {{#frequency.frequencyTell us how often in your own words}}checked=checked{{/frequency.frequencyTell us how often in your own words}} aria-controls="details"> Tell us how often in your own words
                </label>


              </fieldset>
            </div>

            <div class="panel-indent js-hidden" {{#frequency.frequencyTell us how often in your own words}}style="display:block;"{{/frequency.frequencyTell us how often in your own words}} id="own-words">
              <div class="form-group">
                <label class="form-label-bold" for="ownWords">How often your condition affects you getting up and out of bed.</label>
                <input type="text" class="form-control" id="ownWords" name="ownWords" value="{{#frequency.ownWords}}{{frequency.ownWords}}{{/frequency.ownWords}}" />
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsWhy">
                  Describe why your condition affects you getting up and out of bed.
                </label>
                <textarea class="form-control-3-4  " id="detailsWhy" name="ownWordsDetailsWhy">{{#frequency.ownWordsDetailsWhy}}{{frequency.ownWordsDetailsWhy}}{{/frequency.ownWordsDetailsWhy}}</textarea>
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsHow">
                  Describe how you get up and out of bed at the moment.
                  <p class="form-hint">If you dont get out of bed, tell us why.</p>
                </label>
                <textarea class="form-control-3-4  " id="detailsHow" name="ownWordsDetailsHow">{{#frequency.ownWordsDetailsHow}}{{frequency.ownWordsDetailsHow}}{{/frequency.ownWordsDetailsHow}}</textarea>
              </div>
            </div>

            <div class="panel-indent
            {{^frequency.frequency}}js-hidden{{/frequency.frequency}}
            {{#frequency.frequencyNone of the time}} js-hidden{{/frequency.frequencyNone of the time}}
            {{#frequency.frequencyTell us how often in your own words}}js-hidden{{/frequency.frequencyTell us how often in your own words}}" id="details">
              <div class="form-group">
                <label class="form-label-bold" for="detailsWhy">

                  Describe why your condition affects you getting up and out of bed.
                </label>
                <textarea class="form-control-3-4  " id="detailsWhy" name="detailsWhy">{{#frequency.detailsWhy}}{{frequency.detailsWhy}}{{/frequency.detailsWhy}}</textarea>
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsHow">

                  Describe how you get up and out of bed at the moment.
                  <p class="form-hint">If you dont get out of bed, tell us why.</p>
                </label>
                <textarea class="form-control-3-4 " id="detailsHow" name="detailsHow">{{#frequency.detailsHow}}{{frequency.detailsHow}}{{/frequency.detailsHow}}</textarea>
              </div>
            </div>
          </li>
        </ul>
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
          <input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
        </div>


      </form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
