  {{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

      <form action="gettingOn{{#edit}}?edit=true{{/edit}}" method="post" method="#" class="form checkMyAnswers" data-question="gettingOn">

        <a href="/pipDigital/activities/outAndAbout" class="example-back-link">Back</a>
        <h1 class="form-title heading-large">
          Mixing with people </h1>
        <ul>
          <li>

            <div class="form-group" id="form-group-frequency">
              <fieldset>
                <legend class="form-label-bold" id="frequency" for="frequency">
                  <span class="frequency-question">Does your condition affect you mixing with people?</span>

                  <p class="form-hint">This includes if you find any part difficult or if you rely on someone to help or encourage you to mix with people.</p>

                </legend>
                {{>includes/pages/variability}}

              </fieldset>
            </div>
            <div class="panel-indent js-hidden" id="details">
              <div id="how-often" class="form-group js-hidden">
                <label class="form-label-bold" for="ownWords">How often your condition affects you mixing with people?</label>
                <input type="text" class="form-control" id="ownWords" name="ownWords" value="{{#frequency.ownWords}}{{frequency.ownWords}}{{/frequency.ownWords}}" />
              </div>
              <fieldset class="form-group">
                <legend class="form-label-bold">What do you find difficult?</legend>
                <p>Select as many as you need</p>
                <label class="block-label" for="waste-type-1">
                  <input id="waste-type-1" name="gettingOn-difficulty" type="checkbox" value="mixing with people you know">
                  Mixing with people you know
                </label>
                <label class="block-label" for="waste-type-2">
                  <input id="waste-type-2" name="gettingOn-difficulty" type="checkbox" value="mixing with people you don't know">
                  Mixing with people you don't know
                </label>
                <label class="block-label" for="waste-type-4">
                  <input id="waste-type-4" name="gettingOn-difficulty" type="checkbox" value="understanding what people are saying">
                  Understanding what people are saying
                </label>
                <label class="block-label" for="waste-type-3">
                  <input id="waste-type-3" name="gettingOn-difficulty" type="checkbox" value="getting across what you want to say ">
                  Getting across what you want to say
                </label>
                <label class="block-label" for="waste-type-5">
                  <input id="waste-type-5" name="gettingOn-difficulty" type="checkbox" value="understanding how people are behaving towards you">
                  Understanding how people are behaving towards you
                </label>
                <label class="block-label" for="waste-type-6">
                  <input id="waste-type-6" name="gettingOn-difficulty" type="checkbox" value="it makes you feel anxious or distressed">
                  It makes you feel anxious or distressed
                </label>
                <label class="block-label" for="waste-type-7" data-target="other">
                  <input id="waste-type-7" name="gettingOn-difficulty" type="checkbox" value="Other">
                  Other
                </label>
                <div class="panel-indent js-hidden" id="other">
                  <input class="form-control" type="text" id="nationalities-other-country" name="other-difficulty">
                </div>
              </fieldset>


              <div class="form-group">
                <label class="form-label-bold" for="detailsWhy">

                  Describe why your condition makes it difficult to mix with people.
                </label>
                <details class="help-text">
                  <summary><span class="summary">What to include in your answer</span></summary>
                  <div class="panel-indent">
                    <p>
                      Include as much information as you can, such as:
                    </p>
                    <ul class="list-bullet">
                      <li>if you find it hard to know if you’re at risk when you mix with people</li>
                      <li>if you’re a risk to others when you mix with them</li>
                      <li>how you feel during and after mixing with people </li>
                      <li>if you can mix with people as often as you need to, or if it depends on what kind of day you're having </li>
                    </ul>
                  </div>
                </details>
                <textarea class="form-control-3-4  " id="detailsWhy" name="detailsWhy"></textarea>
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsHow">
                  Describe how you mix with people at the moment.
                </label>
                <details class="help-text">
                  <summary><span class="summary">What to include in your answer</span></summary>
                  <div class="panel-indent">
                    <p>
                      Include as much information as you can, such as:
                    </p>
                    <ul class="list-bullet">
                      <li>if you mix with some people, but not others</li>
                      <li>if you rely on someone to help you or encourage you to mix with people</li>
                    </ul>
                  </div>
                </details>
                <textarea class="form-control-3-4  " id="detailsHow" name="detailsHow"></textarea>
              </div>
            </div>
          </li>
        </ul>

        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
          <input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
        </div>

      </form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
