{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
    <div class="column-two-thirds">


				<a href="/pipDigital/activities/eatinganddrinking" class="example-back-link">Back</a>

				<h1 class="form-title heading-large">
Leaving your home				</h1>

				<p>We need to understand if your condition affects you when you're:</p>
				<ul class="list-bullet">
				  <li>getting out and about</li>
				  <li>mixing with people</li>
				</ul>

				<p>Include as much information as you can in your answers, such as: </p>
				<ul class="list-bullet">
				  <li>if you can do all of the activity, or if you can do some parts but not others</li>
				  <li>if you can do it as often as you need to, or if it varies depending on what kind of day you're having </li>
				  <li>how long it takes you</li>
				  <li>if you risk hurting yourself or having an accident when you're doing it</li>
				  <li>how you feel during and after you've done it</li>
				</ul>

				<a href="goingOut" class="button">Continue</a>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
