{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="specialAids{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="specialAids">

        <a href="/pipDigital/summary/aboutYourHome" class="example-back-link">Back</a>
	<h1 class="form-title heading-large">
      Aids and adaptations				</h1>

      				<fieldset id="aidsList" class="form-group  ">
      					<legend id="aids" class="form-label-bold" for="aidsList">
      Where do you have to use aids, adaptations or anything else to make things easier for you?					</legend>
      					<ul class="special-aids">
      							<li>
      		<label class="block-label" for="frontdoor-id" data-target="frontdoor-details">
      			<input type="checkbox" id="frontdoor-id" name="aids[0].type" value="Getting in or out of your home" aria-controls="frontdoor-details" aria-expanded="false">
           	Getting in or out of your home
           </label>
      								<fieldset id="frontdoor-details" class="js-hidden panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[0].description">

      List aids, adaptations or anything you have to use to make getting in or out of your home easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[0].description" name="aids[0].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="hallwayOrStairs-id" data-target="hallwayOrStairs-details">
      			<input type="checkbox" id="hallwayOrStairs-id" name="aids[1].type" value="Hallway or stairs" aria-controls="hallwayOrStairs-details" aria-expanded="false">
           	Hallway or stairs
           </label>
      								<fieldset id="hallwayOrStairs-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[1].description">

      List aids, adaptations or anything you have to use in your hall or stairs to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[1].description" name="aids[1].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="kitchen-id" data-target="kitchen-details">
      			<input type="checkbox" id="kitchen-id" name="aids[2].type" value="Kitchen " aria-controls="kitchen-details" aria-expanded="false">
           	Kitchen
           </label>
      								<fieldset id="kitchen-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[2].description">

      List aids, adaptations or anything you have to use in your kitchen to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[2].description" name="aids[2].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="lounge-id" data-target="lounge-details">
      			<input type="checkbox" id="lounge-id" name="aids[3].type" value="Lounge or sitting room " aria-controls="lounge-details" aria-expanded="false">
           	Lounge or sitting room
           </label>
      								<fieldset id="lounge-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[3].description">

      List aids, adaptations or anything you have to use in your lounge or sitting room to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[3].description" name="aids[3].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="dining-id" data-target="dining-details">
      			<input type="checkbox" id="dining-id" name="aids[4].type" value="Dining room/area " aria-controls="dining-details" aria-expanded="false">
           	Dining room/area
           </label>
      								<fieldset id="dining-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[4].description">

      List aids, adaptations or anything you have to use in your dining room to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[4].description" name="aids[4].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="bedroom-id" data-target="bedroom-details">
      			<input type="checkbox" id="bedroom-id" name="aids[5].type" value="Your bedroom " aria-controls="bedroom-details" aria-expanded="false">
           	Your bedroom
           </label>
      								<fieldset id="bedroom-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[5].description">

      List aids, adaptations or anything you have to use in your bedroom to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[5].description" name="aids[5].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="bathrooms-id" data-target="bathrooms-details">
      			<input type="checkbox" id="bathrooms-id" name="aids[6].type" value="Bathroom and toilet " aria-controls="bathrooms-details" aria-expanded="false">
           	Bathroom and toilet
           </label>
      								<fieldset id="bathrooms-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[6].description">

      List aids, adaptations or anything you have to use in your bathroom and toilet to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[6].description" name="aids[6].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li>
      		<label class="block-label" for="garden-id" data-target="garden-details">
      			<input type="checkbox" id="garden-id" name="aids[7].type" value="Outside " aria-controls="garden-details" aria-expanded="false">
           	Outside
           </label>
      								<fieldset id="garden-details" class="js-hidden  panel-indent form-group-related" aria-hidden="true">
              <div class="form-group">
      						<label class="form-label" for="aids[7].description">

      List aids, adaptations or anything you have to use when you're outside to make things easier.
      						</label>
      						<textarea class="form-control-3-4  " id="aids[7].description" name="aids[7].description"></textarea>
      		</div>
      								</fieldset>
      							</li>
      							<li class="form-group">
      		<label class="block-label" for="none-id">
      			<input type="checkbox" id="none-id" name="aids[8].type" data-none="true" value="You don't use aids, adaptations or anything else to make things easier.">
           	You don't use aids, adaptations or anything else to make things easier.
           </label>
      							</li>
      					</ul>
      				</fieldset>
              <div class="form-group">
      						<label class="form-label-bold" for="otherSpecialEquipment">

      List anything else you have with you all or most of the time to make things easier for you.						<p class="form-hint">This includes things you might have to use all or most of the time, like a hearing aid, wheelchair or prosthetic limb.</p>
      						</label>
      						<textarea class="form-control-3-4  " id="otherSpecialEquipment" name="otherSpecialEquipment"></textarea>
      		</div>

      				<div class="form-group">
      					<input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
      					<input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
      				</div>
			</form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
