{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

      <form action="goingOut{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="goingOut">
        <a href="/pipDigital/summary/leavingYourHome" class="example-back-link">Back</a>

       <h1 class="form-title heading-large">{{>includes/pages/progress}}
          Getting out and about </h1>
        <ul>
          <li>

            <div class="form-group" id="form-group-frequency">
              <fieldset>
                <legend class="form-label-bold" id="frequency" for="frequency">
                  <span class="frequency-question">Does your condition affect you getting out and about?</span>

                  <p class="form-hint">This includes if you find any part  difficult, if you rely on someone to encourage you or help you leave your home or if you get any side effects from getting out and about.</p>

                </legend>
                {{>includes/pages/variability}}

              </fieldset>
            </div>
            <div class="panel-indent {{^frequency.frequency}}js-hidden{{/frequency.frequency}} {{#frequency.frequencyNone of the time}}js-hidden{{/frequency.frequencyNone of the time}}" id="details">
              <div id="how-often" class="form-group js-hidden">
                <label class="form-label-bold" for="ownWords">How often.</label>
                <input type="text" class="form-control" id="ownWords" name="ownWords" value="{{#frequency.ownWords}}{{frequency.ownWords}}{{/frequency.ownWords}}" />
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsWhy">

                  Why your condition affects you getting out and about.
                </label>
                <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
                <textarea class="form-control-3-4  " maxlength="1500" id="detailsWhy" name="detailsWhy">{{#frequency.detailsWhy}}{{frequency.detailsWhy}}{{/frequency.detailsWhy}}</textarea>
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsHow">

                  How you get out and about at the moment.
                </label>
                <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
                <textarea class="form-control-3-4  " maxlength="1500" id="detailsHow" name="detailsHow">{{#frequency.detailsHow}}{{frequency.detailsHow}}{{/frequency.detailsHow}}</textarea>
              </div>
            </div>
          </li>
        </ul>
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
          <input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
          <a href="#" class="example-back-link">Back</a>
        </div>

      </form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
