{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

  <div class="grid-row">
		<div class="column-two-thirds">

		<form action="/pipDigital/login/saveEnd" method="POST" class="form">





			<h1 class="form-title heading-large">
Save your application as you go along			</h1>

			<p>Many questions in this application ask for detailed answers which may take time to fill in.</p>

			<p>You can leave the application at any point and come back to it when you want, without losing any of your information.</p>


			<div class="form-group">
    <div class="form-group" id="form-group-userName">

     <label class="form-label" for="userName">


Create username
     <p class="form-hint">You'll need this to sign in again so make it memorable, like your email address. Make it at least 8 characters long.</p>
     </label>


        <input type="text" class="form-control " id="userName" name="userName" value="">
      </div>
			</div>

			<div class="form-group">
    <div class="form-group" id="form-group-password">

     <label class="form-label" for="password">


Create password
     <p class="form-hint">You'll need this to sign in again. Make it at least 8 characters long</p>
     </label>


        <input type="password" class="form-control " id="password" name="password" value="">
      </div>
			</div>

			<div class="form-group">
    <div class="form-group" id="form-group-passwordConfirm">

     <label class="form-label" for="passwordConfirm">


Confirm password

     </label>


        <input type="password" class="form-control " id="passwordConfirm" name="passwordConfirm" value="">
      </div>
			</div>

			<div class="form-group">
        <a class="button " href="summaryMain" >Save</a>
			</div>

		</form>

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
