{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

      <form action="preparingandcookingfood{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="preparingandcookingfood">
        <a href="/pipDigital/activities/gettingDressed" class="example-back-link">Back</a>
       <h1 class="form-title heading-large">{{>includes/pages/progress}}
          Preparing and cooking food </h1>


        <ul>
          <li>

            <div class="form-group" id="form-group-frequency">
              <fieldset>
                <legend class="form-label-bold" id="frequency" for="frequency">
                  <span class="frequency-question">Does your condition affect you preparing or cooking a hot meal from fresh ingredients?</span>

                  <p class="form-hint">This includes if you find any part difficult or if you rely on someone to remind you to make a meal, supervise you or cook for you.</p>

                </legend>

                {{>includes/pages/variability}}


              </fieldset>
            </div>

            <div class="panel-indent {{^frequency.frequency}}js-hidden{{/frequency.frequency}} {{#frequency.frequencyNone of the time}}js-hidden{{/frequency.frequencyNone of the time}}" id="details">
              <div id="how-often" class="form-group js-hidden">
                <label class="form-label-bold" for="ownWords">How often.</label>
                <input type="text" class="form-control" id="ownWords" name="ownWords" value="{{#frequency.ownWords}}{{frequency.ownWords}}{{/frequency.ownWords}}" />
              </div>
              <fieldset class="form-group">
                <legend class="form-label-bold">What do you have difficulty with?</legend>
                <p>Select as many as you need.</p>
                <label class="block-label" for="waste-type-1">
                  <input id="waste-type-1" name="preparingandcookingfood-difficulty" type="checkbox" value="chopping or peeling">
                  Chopping or peeling
                </label>
                <label class="block-label" for="waste-type-2">
                  <input id="waste-type-2" name="preparingandcookingfood-difficulty" type="checkbox" value="Opening jars or tins">
                  Opening jars or tins
                </label>
                <label class="block-label" for="waste-type-3">
                  <input id="waste-type-3" name="preparingandcookingfood-difficulty" type="checkbox" value="using a hob">
                  Using a hob
                </label>
                <label class="block-label" for="waste-type-4">
                  <input id="waste-type-4" name="preparingandcookingfood-difficulty" type="checkbox" value="using a microwave">
                  Using a microwave
                </label>
                <label class="block-label" for="waste-type-5">
                  <input id="waste-type-5" name="preparingandcookingfood-difficulty" type="checkbox" value="lifting pans">
                  Lifting pans
                </label>
                <label class="block-label" for="waste-type-6">
                  <input id="waste-type-6" name="preparingandcookingfood-difficulty" type="checkbox" value="putting food on a plate">
                  Putting food on a plate
                </label>
                <label class="block-label" for="waste-type-8">
                  <input id="waste-type-8" name="preparingandcookingfood-difficulty" type="checkbox" value="You need to be supervised or encouraged">
                  You need to be supervised or encouraged
                </label>
                <label class="block-label" for="waste-type-7" data-target="other">
                  <input id="waste-type-7" name="preparingandcookingfood-difficulty" type="checkbox" value="Other">
                  Something else
                </label>
                <div class="panel-indent js-hidden" id="other">
                  <input class="form-control" type="text" id="nationalities-other-country" name="other-difficulty">
                </div>
              </fieldset>
              <div class="form-group">
                <label class="form-label-bold" for="detailsWhy">

                  Why your condition affects you preparing or cooking a hot meal from fresh ingredients.
                </label>
                <details class="help-text" open>
                  <summary><span class="summary">What to include in your answer</span></summary>
                  <div class="panel-indent">
                    <p>
                      Include as much information as you can, such as:
                    </p>
                    <ul class="list-bullet">
                      <li>if you risk hurting yourself or having an accident when you’re preparing or cooking a hot meal</li>
                      <li>how you feel during and after you’ve done it </li>
                      <li>if you can do it as often as you need to, or if it depends on what kind of day you're having </li>
                    </ul>
                  </div>
                </details>
                <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
                <textarea class="form-control-3-4" maxlength="1500" id="detailsWhy" name="detailsWhy">{{#frequency.detailsWhy}}{{frequency.detailsWhy}}{{/frequency.detailsWhy}}</textarea>
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsHow">

                  How you cook and prepare a hot meal from fresh ingredients at the moment.
                </label>
                <details class="help-text" open>
                  <summary><span class="summary">What to include in your answer</span></summary>
                  <div class="panel-indent">
                    <p>
                      Include as much information as you can, such as:
                    </p>
                    <ul class="list-bullet">
                      <li>roughly how long it takes to prepare or cook a hot meal  </li>
                      <li>if you can prepare and cook all parts of the meal, or if you can do some parts but not others</li>
                      <li>if you rely on any aids or adaptations for any part of it</li>
                      <li>if you rely on someone to remind you to make a meal, supervise you or cook for you</li>
                    </ul>
                  </div>
                </details>
                <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
                <textarea class="form-control-3-4  " maxlength="1500" id="detailsHow" name="detailsHow">{{#frequency.detailsHow}}{{frequency.detailsHow}}{{/frequency.detailsHow}}</textarea>
              </div>
            </div>

          </li>
        </ul>

        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
          <input type="submit" value="Save and come back later" name="saveAndExit" class="exit-link">
          <a href="#" class="example-back-link">Back</a>
        </div>

      </form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
