{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}

	<div class="grid-row">
		<div class="column-two-thirds">

      <form action="money{{#edit}}?edit=true{{/edit}}" method="post" class="form checkMyAnswers" data-question="money">
        <a href="/pipDigital/activities/understanding" class="example-back-link">Back</a>
        <h1 class="form-title heading-large">
          Making decisions about money </h1>
        <ul>
          <li>

            <div class="form-group" id="form-group-frequency">
              <fieldset>
                <legend class="form-label-bold" id="frequency" for="frequency">
                  <span class="frequency-question">Does your condition affect you making decisions about money?</span>

                  <p class="form-hint">This includes if you have difficulty understanding what things cost, managing bills or if you rely on someone to help you.</p>

                </legend>
                {{>includes/pages/variability}}
              </fieldset>
            </div>

            <div class="panel-indent js-hidden" id="details">
              <div id="how-often" class="form-group js-hidden">
                <label class="form-label-bold" for="ownWords">How often your condition affects you managing your money</label>
                <input type="text" class="form-control" id="ownWords" name="ownWords" value="{{#frequency.ownWords}}{{frequency.ownWords}}{{/frequency.ownWords}}" />
              </div>
              <fieldset class="form-group">
                <legend class="form-label-bold">What do you have difficulty with?</legend>
                <p>Select as many as you need.</p>
                <label class="block-label" for="waste-type-1">
                  <input id="waste-type-1" name="money-difficulty" type="checkbox" value="paying bills">
                  Paying bills
                </label>
                <label class="block-label" for="waste-type-2">
                  <input id="waste-type-2" name="money-difficulty" type="checkbox" value="knowing how much you have to spend ">
                  Knowing how much you have to spend
                </label>
                <label class="block-label" for="waste-type-4">
                  <input id="waste-type-4" name="money-difficulty" type="checkbox" value="understanding how much things cost">
                  Understanding how much things cost
                </label>
                <label class="block-label" for="waste-type-3">
                  <input id="waste-type-3" name="money-difficulty" type="checkbox" value="knowing how much change you should get">
                  Knowing how much change you should get
                </label>
                <label class="block-label" for="waste-type-5">
                  <input id="waste-type-5" name="money-difficulty" type="checkbox" value="overspending">
                  Overspending
                </label>
                <label class="block-label" for="waste-type-7" data-target="other">
                  <input id="waste-type-7" name="money-difficulty" type="checkbox" value="Other">
                  Anything else
                </label>
                <div class="panel-indent js-hidden" id="other">
                  <input class="form-control" type="text" id="nationalities-other-country" name="other-difficulty">
                </div>
              </fieldset>

              <div class="form-group">
                <label class="form-label-bold" for="detailsWhy">

                  Describe why your condition affects you managing your money.
                </label>
                <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
                <textarea class="form-control-3-4  " maxlength="1500" id="detailsWhy" name="detailsWhy"></textarea>
              </div>
              <div class="form-group">
                <label class="form-label-bold" for="detailsHow">

                  Describe how you manage your money at the moment.
                </label>
                <details class="help-text">
                  <summary><span class="summary">What to include in your answer</span></summary>
                  <div class="panel-indent">
                    <p>
                      Include as much information as you can, such as if you:
                    </p>
                    <ul class="list-bullet">
                      <li>can make some decisions about money, but not others</li>
                      <li>rely on someone to encourage you to manage your money, help you or explain things to you</li>
                    </ul>
                  </div>
                </details>
                <span class="font-xsmall form-control-3-4 character-count">1500 characters left</span>
                <textarea class="form-control-3-4  " maxlength="1500" id="detailsHow" name="detailsHow"></textarea>
              </div>
            </div>
          </li>
        </ul>
        <div class="form-group">
          <input type="submit" class="button" value="Save and continue" name="saveAndcontinue">
          <input type="submit" value="Save and exit" name="saveAndExit" class="exit-link">
          <a href="#" class="example-back-link">Back</a>
        </div>

      </form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/govuk_template}}
