{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main id="content" role="main">

	{{>includes/phase_banner}}
	
	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="#" method="#" class="form">
			
				<a href="#" class="example-back-link">Back</a>
				
				<!--div class="section-progress">
				Step 1 of 17
				</div-->
								<h1 class="form-title heading-large">
				<!--Hospital, hospice, residential or nursing care-->
				Your health conditions and disabilities
				</h1>
				
				<!-- health conditions or disabilities -->
				<div class="form-group">  
					<label class="form-label-bold" for="health-conditions">List your health conditions and disabilities and when they started.</label> 



					<table class="condition">
					    <thead>
							<tr>
								<th scope="col">Health condition or disability</th>
								<th class="numeric" scope="col">When it started</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
					    </tbody>
					</table>

					<a href="#" id="show-condition4">Add another health condition</a>

					<div class="js-hidden" id="condition4">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition5">Add another health condition</a>
					</div>

					<table class="condition js-hidden" id="condition5">
					    <tbody>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
					    </tbody>
					</table>

				</div>



				<!-- medication -->
				<div class="form-group">  
					<label class="form-label-bold" for="health-conditions">List any medication that you're currently taking</label> 

					<table class="condition">
					    <thead>
							<tr>
								<th scope="col">Medication</th>
								<th class="numeric" scope="col">Dosage</th>
								<th class="numeric" scope="col">How often do you take it?</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
					    </tbody>
					</table>

					<a href="#" id="show-condition6">Add another medication</a>

					<div class="js-hidden" id="condition6">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition7">Add another medication</a>
					</div>

					<div class="js-hidden" id="condition7">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition10">Add another medication</a>
					</div>

					<div class="js-hidden" id="condition10">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition11">Add another medication</a>
					</div>

					<div class="js-hidden" id="condition11">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition12">Add another medication</a>
					</div>

					<div class="js-hidden" id="condition12">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition13">Add another medication</a>
					</div>

					<div class="js-hidden" id="condition13">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition14">Add another medication</a>
					</div>


					<table class="condition js-hidden" id="condition14">
					    <tbody>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
					    </tbody>
					</table>

				</div> 


				<!-- treatments -->
				<div class="form-group">  
					<label class="form-label-bold" for="health-conditions">List any treatments you've had or have planned</label> 



					<table class="condition">
					    <thead>
							<tr>
								<th scope="col">Treatment name</th>
								<th class="numeric" scope="col">When or how often</th>
							</tr>
					    </thead>
					    <tbody>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
					    </tbody>
					</table>

					<a href="#" id="show-condition8">Add another treatment</a>

					<div class="js-hidden" id="condition8">
						<table class="condition">
						    <tbody>
								<tr>
									<td><input type="text" class="form-control"></td>
									<td class="numeric"><input type="text" class="form-control"></td>
								</tr>
						    </tbody>
						</table>

						<a href="#" id="show-condition9">Add another treatment</a>
					</div>

					<table class="condition js-hidden" id="condition9">
					    <tbody>
							<tr>
								<td><input type="text" class="form-control"></td>
								<td class="numeric"><input type="text" class="form-control"></td>
							</tr>
					    </tbody>
					</table>

				</div>

				<!-- catch all -->
				<div class="form-group">  
					<label class="form-label-bold" for="health-conditions">Describe any side-effects you get from your medication or treatments</label> 
					<textarea type="text" name="health-conditions" class="health-conditions form-control-3-4"></textarea>    
				</div>

				<fieldset>
					<legend class="form-label-bold add-padding" for="dinner">Do you have any difficulty managing your treatments or taking your medication?</legend>			
					<div class="form-group">
						<label class="block-label" data-target="dinner-details" for="dinner-yes">
							<input id="dinner-yes" type="radio" name="dinner" value="Yes">
							Yes
						</label>
                        <label class="block-label" data-target="dinner-details" for="dinner-sometimes">
							<input id="dinner-sometimes" type="radio" name="dinner" value="Sometimes">
							Sometimes
						</label> 
						<label class="block-label"for="dinner-no">
							<input id="dinner-no" type="radio" name="dinner" value="No">
							No
						</label>   
					</div>
				</fieldset>
                
                <div class="js-hidden panel-indent form-group" id="dinner-details">

				    <label class="form-label-bold" for="dinner-help">Do you have someone who reminds you or helps you manage your treatments or take medication?</label>
				    <label class="block-label" data-target="dinner-help-more" for="dinner-help-yes">
				        <input id="dinner-help-yes" type="radio" name="dinner-help" value="true">
                            Yes
				    </label>
				    <label class="block-label" data-target="dinner-help-more" for="dinner-help-sometimes">
                        <input id="dinner-help-sometimes" type="radio" name="dinner-help" value="">
				            Sometimes
				    </label> 
				    <label class="block-label" data-target="dinner-help-none" for="dinner-help-no">
                        <input id="dinner-help-no" type="radio" name="dinner-help" value="">
				            No
				    </label>  

				    <div class="js-hidden panel-indent" id="dinner-help-more">
	            		<label class="form-label-bold" for="dinner-more">Why do you need help?</label>
	            		<textarea type="text" class="form-control-3-4" id="dinner-more"></textarea>
            		</div>

                	<div class="js-hidden panel-indent" id="dinner-help-none">
                		<label class="form-label-bold" for="dinner-help-none-too">Tell us why you have difficulty managing your treatments or taking medication.</label>
                		<textarea type="text" class="form-control-3-4" id="dinner-help-none-too"></textarea>
                	</div>
                	
                </div> 
				
				<!-- Primary buttons, secondary links -->
				<div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>

			</form>
		</div>
	</div>
</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}

				<script>
				  $(document).ready(function() {
				  
				  	$("#show-condition4").click(function() {
				  	  $("#condition4").show();
				  	  $("#show-condition4").hide();
				  	   return false;
				  	});
				  	$("#show-condition5").click(function() {
				  	  $("#condition5").show();
				  	  $("#show-condition5").hide();
				  	   return false;
				  	});
				  	$("#show-condition6").click(function() {
				  	  $("#condition6").show();
				  	  $("#show-condition6").hide();
				  	   return false;
				  	});
				  	$("#show-condition7").click(function() {
				  	  $("#condition7").show();
				  	  $("#show-condition7").hide();
				  	   return false;
				  	});
				  	$("#show-condition8").click(function() {
				  	  $("#condition8").show();
				  	  $("#show-condition8").hide();
				  	   return false;
				  	});
				  	$("#show-condition9").click(function() {
				  	  $("#condition9").show();
				  	  $("#show-condition9").hide();
				  	   return false;
				  	});
				  	$("#show-condition10").click(function() {
				  	  $("#condition10").show();
				  	  $("#show-condition10").hide();
				  	   return false;
				  	});
				  	$("#show-condition11").click(function() {
				  	  $("#condition11").show();
				  	  $("#show-condition11").hide();
				  	   return false;
				  	});
				  	$("#show-condition12").click(function() {
				  	  $("#condition12").show();
				  	  $("#show-condition12").hide();
				  	   return false;
				  	});
				  	$("#show-condition13").click(function() {
				  	  $("#condition13").show();
				  	  $("#show-condition13").hide();
				  	   return false;
				  	});
				  	$("#show-condition14").click(function() {
				  	  $("#condition14").show();
				  	  $("#show-condition14").hide();
				  	   return false;
				  	});
				  	
				  });
				</script>
{{/bodyEnd}}

{{/govuk_template}}
