{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
	{{>includes/phase_banner}}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1>PIP Prototypes</h1>

		    <h2 class="heading-medium">Sprint 4</h2>
		    <ul>
		    	<li><a href="/pip4/overview">12 activities and health condition</a></li>
		    </ul>

		    <h2 class="heading-medium">Sprint 3</h2>
		    <ul>
		    	<li><a href="/pip3/overview">PIP2 route</a></li>
		    	<li><a href="/pip3/overview-2">Radical route</a></li>
		    </ul>

		    <h2 class="heading-medium">Sprint 2</h2>
		    <ul>
		    	<li><a rel="external" href="http://pip-sprint2.herokuapp.com/pip/overview">Combining 7 guard questions</a></li>
		    </ul>

		    <h2 class="heading-medium">Sprint 1</h2>
		    <ul>
		    	<li><a rel="external" href="http://pip-sprint1.herokuapp.com/pip/overview">Guard page</a></li>
		    </ul>

		    <h2 class="heading-medium">Ben's prototype</h2>
		    <ul>
		    	<li><a rel="external" href="http://pip-v1.herokuapp.com/pip/start.html">Ben's prototype</a></li>
		    </ul>
		
		</div>
		<div class="column-third">
			<h2 class="heading-medium">User journey</h2>
		    <ul>
		    	<li><a href="http://pip-alpha.herokuapp.com/full/overview">Full journey</a> </li>
		    </ul>

		    <h2 class="heading-medium">Pages</h2>
		    <ul>
		    	<li><a href="/pip4/overview">GOV.UK - Overview</a></li>
		    	<li><a href="/pip4/eligibility">GOV.UK - Eligibility</a></li>
		    	<li><a href="/pip4/how-youre-assessed">GOV.UK - How you're assessed</a></li>
		    	<li><a href="/pip4/apply">GOV.UK - Apply</a></li>
		    	<li><a href="/pip4/report-a-change">GOV.UK - Report a change</a></li>
		    	<li><a href="/pip3/before-you-start">Before you start</a></li>
		    	<li><a href="/pip/guard-page">Guard page</a></li>
		    	<li><a href="/pip4/pip01">Personal details</a></li>

		    </ul>
		</div>
	</div>

</main>
{{/content}}

{{/layout}}
